[2018-05-02 16:02] tim-salabim commented on #153
yes, this is a known issue of the RStudio viewer (especially on windows). If you open the map in the browser you should see all maps. In the viewer, depending on your RStudio version, you should at least see the OpenStreetMap and ESRI imagery. You can try one of the RStudio [daily builds](https://dailies.rstudio.com/) - version 1.2. and higher - where the default CartoDB.Positron map should appear

[2018-05-02 16:02] #153 closed

[2018-05-04 06:22] tim-salabim opened #154 "popupTable for many points crashes RStudio session"
The following code crashes the RStudio session when `n = 523000` but doesn't if `n = 522000` on my linux machine.

[code]
This happens somewhere in [listPopupTemplates](https://github.com/r-spatial/mapview/blob/develop/src/brewCppFun.cpp#L213-L244).

@fdetsch do you have any idea why this crashes? Can we make this safer so that it doesn't crash the entire session?

Note: R does not crash when run

[2018-05-04 07:25] tim-salabim commented on #154
On my windows machine at work the respective `n` values are
* fine 981000
* breaks 982000
[code]

[2018-05-04 07:41] tim-salabim commented on #154
On windows in R started from cmd I can happily produce 3 million popups (i.e. `n = 3e6`). Didn't test any further as map won't render with that many points anyway... This is going to be fun to debug :-)

[2018-05-04 08:13] edzer commented on #154
I can confirm your finding on rstudio/ubuntu 17.10.

[2018-05-04 12:02] tim-salabim commented on #113
I got it working!! Turns out RStudio viewer didn't like the backticks in `setClipboardText(`'${txt}'`);`

[2018-05-04 12:10] tim-salabim commented on #113
I think I should rewrite this to be a proper js lib binding rather than this hideous paste monster...

[2018-05-04 12:13] tim-salabim commented on #147
@jamesdalg is this still unresolved?

[2018-05-04 13:32] edzer commented on #154
I can reproduce this in on ubuntu/bionic with R 3.4.4 (no rstudio), seeing (in valgrind):
[code]

[2018-05-04 18:47] MatthieuStigler opened #155 "feature request: npts also at feature level?"
Hi

The npts function is very useful, yet in some cases it would be nice to return the number of vertices per feature, not necesarily the sum. Would it be possible to add a `byid=FALSE` argument (as in gArea, or any other name), to allow to return npts per feature?

I don't fully understand the code of npts, but some (inefficient) code like this could be a starting point?

Thanks!

    nNodes2 = f

[2018-05-06 20:03] tim-salabim commented on #155
This should work now
[code]
As mentioned in the help, am yet to find a clever way to get this working for `GEOMETRYCOLLECTION`. It should, however, work for `*POINT`, `*LINESTRING` and `*POLYGON`

[2018-05-06 21:17] #155 closed, assigned to nobody

[2018-05-07 05:25] edzer commented on #155
Re: `GEOMETRYCOLLECTION` I would try sth like this
[code]
[code]

[2018-05-07 05:52] tim-salabim commented on #155
Thanks Edzer! Also for the hint on `st_is_empty` which I completely didn't consider so far...

[2018-05-07 07:57] tim-salabim commented on #155
Thanks to @edzer this seems like a good solution:
[code]
Will update mapview shortly

[2018-05-07 14:13] DataStrategist opened #156 "Graph popups in example doc seem to be broken"
If you click on any of the pointers on https://r-spatial.github.io/mapview/articles/articles/mapview_04-popups.html#graph-popups , you'll see the broken picture link. Thanks for an interesting package!

[2018-05-09 11:38] DataStrategist commented on #156
A silly trick can be to save the pictures to the repo and then make
reference to the url in github.com. I've used that trick before...
unelegant as it might be.

[2018-05-09 12:25] tim-salabim commented on #156
Yeah, that's what I've done too in the past. I could do again, but I'd rather fix this for good... Hence, I'm leaving this open as a steady reminder

[2018-05-13 07:44] #147 closed

[2018-05-13 07:56] tim-salabim commented on #113
@timelyportfolio do you know why RStudio viewer doesn't like the backticks in `'${txt}'`?

[2018-05-13 11:46] timelyportfolio commented on #113
@tim-salabim [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) were not introduced until ES2015 which Windows RStudio Viewer does not support.  However, in the daily builds, they have a much more modern viewer.  Knowing how long the corporate and government world takes to upgrade, I generally try to avoid adding new JavaScript features in the

[2018-05-13 20:14] #129 closed

[2018-05-14 16:25] tim-salabim commented on #113
@timelyportfolio thanks for the detailed explanation. I am still only scratching the surface of js so it is hard for me to know which is new and which is traditional js. I already feel like a Jedi when I figure out to get stuff debugged properly in the browser. So rstudio viewer just adds another layer of confusion in many cases for me.
Therefore, I am very greatful for all the time you take to ex

[2018-05-14 18:40] fdetsch commented on #154
As indicated by @edzer, this seems like some memory allocation issue related to our generous use of `List` output in the C++ code for [`listPopupTemplates()`](https://github.com/r-spatial/mapview/blob/master/src/brewCppFun.cpp). See also [here](https://stackoverflow.com/questions/7963150/how-can-i-remove-this-segmentation-fault-in-c-program) and [here](https://stackoverflow.com/questions/7950769/v

[2018-05-14 20:09] tim-salabim commented on #154
Sweet, on my linux machine, I can now run this with `n = 1e7` without crashing! Thanks @fdetsch for taking care of it!
I'll test on windows tomorrow.

[2018-05-15 08:25] #154 closed, assigned to fdetsch

[2018-05-15 19:16] schloerke commented on #132
@tim-salabim So expose `sizingPolicy` in main `leaflet()` command?

@timelyportfolio
Running the class example does not open the leaflet widget in an external browser for me.  It opens in a RStudio viewer detached from the 4 panel RStudio IDE.

Even after exposing sizingPolicy and setting `viewer.suppress = TRUE`, the leaflet widget opens in the detached RStudio viewer, not a browser.  If I set it

[2018-05-15 19:55] tim-salabim commented on #132
@schloerke yes, that would be great.
@timelyportfolio I can confirm @schloerke's finding. The example above opens a RStudio viewer in a stand-alone window detached from the RStudio IDE.

[2018-05-15 20:43] tim-salabim commented on #132
@schloerke I think [this](https://github.com/rstudio/htmltools/blob/6996430ae0d769b0f3d90a2196011142bc75bd2b/R/html_print.R#L41) is where it all happens. This is called in both [`print.htmlwidget`](https://github.com/rstudio/htmltools/blob/6996430ae0d769b0f3d90a2196011142bc75bd2b/R/html_print.R#L41) and [`print.suppress_viewer`](https://github.com/ramnathv/htmlwidgets/blob/21fca6d2de74acf218bd4362

[2018-05-16 04:30] prokopyev commented on #61
@edzer I actually just got the same issue with `sf` and `RStudio Connect` publishing platform. Do you  still have the solution for deploying `sf` to Shiny correctly?

[2018-05-16 06:49] edzer commented on #61
I think that works, yes.

[2018-05-16 09:29] hewag1975 opened #157 "warnings in mapshot"
1: In file.copy(from, to, overwrite = TRUE, recursive = isdir) :
  problem copying ...  No such file or directory

Likely because of [this](https://github.com/r-spatial/mapview/blob/develop/R/mapshot.R#L127) line.

Best move to end and only unlink if `remove_url = TRUE`

[2018-05-17 06:00] tim-salabim commented on #128
This seems to work now. Can we close this?

[2018-05-27 16:49] mtennekes commented on #35
@tim-salabim is it already possible to save interactive facets? I still get the same error as above when using `htmlwidgets::saveWidget` directly.

[2018-05-28 11:43] HumbertoSubiza opened #158 "DESCRIPTION file missing"
Installing mapview from CRAN gives the following error message:
trying URL 'https://cran.rstudio.com/bin/windows/contrib/3.5/mapview_2.4.0.zip'
Content type 'application/zip' length 3028118 bytes (2.9 MB)
downloaded 752 KB

Warning in install.packages :
  downloaded length 770048 != reported length 3028118
Warning in install.packages :
  error 1 in extracting from zip file
Warning in install.packa

[2018-06-11 13:47] tim-salabim commented on #158
I cannot reproduce this, though I am using a different CRAN mirror.
[code]
Maybe you can try using the same CRAN mirror as me (Wirtschaftsuniversität Wien, Austria) and see if that resolves your issue.
The DESCRIPTION file should be included in any case as otherwise CRAN would not accept submission of the package.

Also pinging https://github.com/mtennekes/tmap/issues/216

[2018-06-11 13:51] tim-salabim commented on #158
On a second look it seems that your download wasn't successful as you only downloaded 752KB whereas it should be 2.9MB.

[2018-06-15 06:12] uribo opened #159 "`mapview()`: Irregular control in input sf + dplyr::mutate() objects."
`mapview()` behaves differences between sf and sf + `dplyr::mutate()`.

[code]

![](https://i.imgur.com/g18BFLs.png)

[code]

![](https://i.imgur.com/KOvrHKn.png)

[code]

Created on 2018-06-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-06-15 14:02] lbusett opened #160 "addStaticLabels not working in shiny app"
Hi,

  in relation to https://github.com/r-spatial/mapview/pull/136 and this recent commit in the develop branch 3f6632efe8e00abc8a316b9d79caebae7967e51f, I just wanted to signal that while the addStaticLabels functionality is now working well again, I am having problems in using it within a Shiny application.

Below, you can find a reprex:

[code]
, which errors wtih:

Any idea about I could solv

[2018-06-18 05:58] tim-salabim commented on #159
I'm not sure what you are trying to show here. The reason for the second call to not render properly is that mapview is trying to infer the name of the object passed to it via `deparse(substitute(x))` which in this case is a complete dplyr chain including all sorts of special characters. This name then gets passed on to leaflet.js which doesn't like it and fails to render. In order to properly wor

[2018-06-18 09:01] uribo commented on #159
Thanks for your comments and sorry I can't express it well.

My problem's summary is fails to render when to `deparse(substitute(x))` the number of characters is too long by pipe processing.

[code]

![](https://i.imgur.com/hXn7uaf.png)

[code]

![](https://i.imgur.com/LHtGeZz.png)

Created on 2018-06-18 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-06-18 09:06] uribo commented on #159
I found that by modifying it as follows, x is displayed even if it is long.

https://github.com/r-spatial/mapview/blob/c9599906e4cf2fcd67ae4b59298489b4717d7549/R/sf.R#L211

[code]

However, this method splits `addLayersControl ()` becomes plural for one x.

![image](https://user-images.githubusercontent.com/228649/41527475-3f775948-7322-11e8-8aaa-771d2b8534cd.png)

[2018-06-18 17:22] tim-salabim commented on #160
I really need to bury `renderMapview` and `mapviewOutput` deep. They are not working as expected (they did for a while though). The best thing to do (and generally recommended) is to use `leafletOutput` together with `renderLeaflet` on the `@map` slot of the mapview object.
[code]

[2018-06-19 16:15] lbusett commented on #160
Indeed it works nicely! Thanks!

One "caveat" worth mentioning is that (apparently) the dataset used to "build" the labels needs to be in lat/lon, otherwise the labels won't show. so, for example, since my input data is in UTM,  I needed to use:

[code]

(I know that this is ugly and inefficient and will need to be changed - it's just to illustrate the point).

If I may ask **another question**: I

[2018-06-19 20:38] #159 closed

[2018-06-19 20:42] tim-salabim commented on #159
Should work now. Layer names will now be truncated after 50 characters.

[2018-06-20 11:00] tim-salabim commented on #160
Yeah, it's always a little tricky to figure out where to look when arguments get passed on to underlying frunctions (from other packages) via `...` as in this case. On the other side it means that the wrapper functions retains full flexibility provided by the original function.
I'll have a look at the PR shortly.

[2018-07-05 17:55] tim-salabim commented on #149
Should work now! Though it's a rather dirty hack.... I plan to rewrite the burst functionality at some stage, so the hack seems fine for now.

[2018-07-12 17:51] tim-salabim commented on #160
Closing here. Feel free to reopen if necessary

[2018-07-12 17:51] #160 closed

[2018-07-14 03:58] StevenMMortimer commented on #77
I have posted this as a question on StackOverflow here: https://stackoverflow.com/questions/51334762/return-a-rendered-leaflet-map-from-leafletproxy

The `mapshot()` function only works with a `leaflet` object, but `leafletProxy()` doesn't return one like `leaflet()` does. `leafletProxy` returns an object of `leaflet_proxy`, which is handled differently in the backend of leaflet even though these

[2018-07-14 09:15] #157 closed

[2018-07-16 22:19] mgrogger opened #165 "mapshot not preserving addWebGLHeatmap from leaflet.extras"
I've been having an issue with the following code:

    map = leaflet(df) %>%
      addWebGLHeatmap(lng=~df$longitude, lat=~df$latitude, opacity= 1 , intensity = .5 ,size = 1000, gradientTexture='deep-sea', data=df)%>%
      addTiles(urlTemplate = map, attribution=attr)
    mapshot(map, file = 'new_orleans_la_map.png')

Which produces this image:

![](https://user-images.githubusercontent.com/7903

[2018-07-17 06:01] tim-salabim commented on #165
Sorry, but you're out of luck. mapshot is essentially a wrapper around saveWidget and webshot combined into one function. So, if webshot cannot handle WebGL, neither can mapshot.

[2018-07-17 06:01] #165 closed

[2018-07-20 07:21] angelovangel opened #166 "Color gradient of polylines"
I think it would be great if something like the [Leaflet.hotline](https://github.com/iosphere/Leaflet.hotline) plugin could be implemented in `mapview`, especially for `sf` data (and thus making use of those Z/M dimensions). I could get the `JS` Leaflet.hotline plugin running in `leaflet`, using `onRender()`, but find it too complicated. Or are there other options?
Best!

[2018-07-20 07:31] tim-salabim commented on #166
Agreed! Can you please rpovide the `onRender()` code as a strating point?

@schloerke I think this is something that should be either in mapview or leaflet.extras. Of the two I favour mapview for the reason of Z/M coordinates that @angelovangel pointed out above and the fact that leaflet.extras is currently not maintained well. Or do you think this should be in core leaflet?

[2018-07-20 08:34] angelovangel commented on #166
OK, [here](https://gist.github.com/angelovangel/3bf47edbb3522d48c661229ee59de737) is a minimal example of using the Leaflet.hotline `JS` plugin (I had to use the script locally). I think it can be used like this, provided there is a convenient way to feed `sf` data to it, using the `data` argument of the `onRender` function.

[2018-07-22 20:12] tim-salabim commented on #166
I am a bit confused as to how this plugin maps colors to z coordinates. If you consider the following, it seems to only interpolate colors linearly between any 2 consecutive points disregarding the colors specification for z coordinates in between:
[code]
Clearly the first and last segments should respect the 'red' in the middle of their interpolation, but they don't. If this is the desired behavi

[2018-07-23 06:45] angelovangel commented on #166
I haven't noticed this, you are right...I think there are also other JS plugins with similar functionality, but I haven't tried them. How about color mapping to z-values using the `colorNumeric` function of `leaflet`?

[2018-07-23 07:19] tim-salabim commented on #166
This is essentially what @edzer is doing at the bottom of [this post](https://www.r-spatial.org/r/2017/08/28/nest.html). I effectively means that you need to slice each LINETSRING into its segments and then color those. This, however, means that you need to decide how to map two values (z-value of segment start and z-value of segement end point) to one color (as you can have only one color per LIN

[2018-07-23 14:58] angelovangel commented on #166
This is marvelous, thanks!
It works perfectly and has the functionality I need. I think though that streamlining this idea in a convenient wrapper would make it easier to use.

[2018-07-24 08:41] tim-salabim commented on #166
Ok, let me think of a way to implement this in mapview

[2018-07-31 11:36] hot-stepper opened #167 "Provide better Error Message for empty sf data.frames"
[code]

[2018-07-31 12:51] adrfantini opened #168 "Embedding a large amount of popupImages in a map"
I have a map which contains several thousands points, each of which should have a different popup image which is a local `.png`. Currently the generation of the map is extremely slow, to the point I kill it after a couple of hours.

Is mapview making a copy of all the images and loading all of them, or is it somehow possible to make it so they are loaded only upon request?

[2018-07-31 13:37] tim-salabim commented on #168
We've changed the way local image files are embedded a couple of months ago. Previously, the (e.g.) pngs were copied to a temp folder and then <src=...>'d, now they are embedded via [base64enc::base64encode](https://github.com/r-spatial/mapview/blob/develop/R/popup.R#L141-L147). The previous solution should be a lot faster and performant. We made the change because when savong the map via `saveWid

[2018-07-31 13:49] adrfantini commented on #168
I am all for more options, with sensible defaults, as long as they are properly documented.

[2018-08-01 20:51] #167 closed

[2018-08-01 20:51] #168 closed

[2018-08-01 20:54] tim-salabim commented on #168
Please let me know if the commit fixes your issue.

[2018-08-07 13:38] JimShady opened #169 "path too long?"
Hi. Thanks for the great package. Any thoughts on this? I guess it's the path where it's going to write the temp files .... could this be fixed somehow without me using a different directory?

[code]

[2018-08-07 14:10] tim-salabim commented on #169
Can you provide a reprex? I've not seen this error before... Also, is this an R error or in the browser?

[2018-08-07 14:11] JimShady commented on #169
Hi @tim-salabim . I'll try to make reproducible. This is an error in RStudio using RMarkdown.

[2018-08-07 14:13] JimShady commented on #169
It's working now. I'm struggling to reproduce. Don't worry about it, I'll mark closed. Thanks.

[2018-08-07 14:13] #169 closed

[2018-08-08 13:15] mredaelli opened #170 "Unloading and freeing memory"
`mapview` depends on a lot of libraries, and a result of this is that importing it causes a lot of memory to be allocated. According to my OS, it's about 150 MB.
We are using it inside a pool of shiny application, and all those 150 MB sum up quickly.

I would like to unload `mapview` when it is not needed, and I tried something like this:

[code]
but that doesn't have any effect on the memory usag

[2018-08-09 12:10] tim-salabim opened #171 "Better error message when zcol not found"
The current error message when specifying `zcol` wrong:
[code]
is not very informative!

[2018-08-10 06:16] tim-salabim commented on #170
I don't know too much about memory allocation in R. As I said in the [similar tmap thread](https://github.com/mtennekes/tmap/issues/240) mapview naturally has hefty dependencies as it provides methods for the most common spatial classes which means that it has to import those.

I suggest we keep this discussion in one thread (over at tmap), so I'm closing here.

[2018-08-10 06:16] #170 closed

[2018-08-10 08:07] tim-salabim opened #172 "use manipulateWidget for sync/latticeView"
Investigate whether this provides a better solution to sync/latticeView
https://github.com/rte-antares-rpackage/manipulateWidget

ping @timelyportfolio

[2018-08-13 11:14] adrfantini opened #174 "Installing in R/3.5.1"
I'm installing mapview in the latest R 3.5.1, and I get the following error:
[code]
[code]

This is in ArchLinux. Previous R versions did not show this behavior. Any idea?

[2018-08-14 15:29] #171 closed

[2018-08-16 09:10] tim-salabim commented on #145
Sorry for the delay, this should now work as expected.

[2018-08-16 10:13] tim-salabim commented on #174
@adrfantini I have just tried installing from github under R 3.5.1 on popOS (Ubuntu variant) and everything worked fine:

[code]

[2018-08-16 14:47] adrfantini commented on #174
I updated everything and still having the same error, I guess it has to do with something in Arch, but i can't figure out what.

[2018-08-16 15:38] fawda123 commented on #145
Cheers @tim-salabim but I'm getting a new error now:

[code]
returns: Error in !highlight : invalid argument type

[code]

[2018-08-16 16:10] tim-salabim commented on #145
sorry forgot to push that one. should work now

[2018-08-16 18:48] fawda123 commented on #145
Works, thanks!

[2018-08-17 05:47] bbo2adwuff commented on #174
It's an issue with `later` under linux with glibc 2.28.
But there is an fix already: https://github.com/r-lib/later/commit/3a41561d7706596c10b22658b89d51fa7bf75594

Just get the github version of later:
`devtools::install_github('r-lib/later')`

[2018-08-17 09:44] adrfantini commented on #174
@bbo2adwuff I can testify this worked for me! Thanks.

[2018-08-17 09:44] #174 closed

[2018-08-17 11:00] tim-salabim opened #175 "mapshot deleting/not deleting files"
This issue is twofold:

1.  If a .html map of the same name as the .png map already exists in the target folder, mapshot will delete it if no url is supplied or `remove_url = TRUE` (default). -> Solution: provide better temporary name.
2. If both url and file are specified, the `_tmp` intermediate map is not deleted. Introduced in latest mapshot commit. -> Solution: delete at the very end, regardl

[2018-08-19 06:25] kendonB opened #176 "add scale argument to viewRGB"
this is analogous to the `scale` argument of `raster::plotRGB`

[2018-08-29 12:02] odelaigue opened #177 "function "isFALSE""
With the version on the CRAN, the following example returns an error:

`mapview(breweries)
Error in isFALSE(highlight) : could not find function "isFALSE"`

There is no `isFALSE `function in the mapview package. Is it explorted from another package ?

commit : #46647d1

[2018-08-29 12:06] tim-salabim commented on #177
No, `isFALSE` is a base function. But it has only been introduced in R 3.5 and I and the CRAN checks didn't pick this up. The easiest is to upgrade R to 3.5.x and everything should work fine.

[2018-08-29 12:18] fdetsch commented on #177
Same here using an older R version w/RStudio Server. If `isFALSE()` has only been introduced in R-3.5, wouldn't this require an entry like this in DESCRIPTION?

[code]

[2018-08-29 12:31] tim-salabim commented on #177
Yes it would, but I didn't realise that it was only recently introduced, given that `isTRUE` has been around for a while. And CRAN did not pick this up during submission either. So, for now, we are stuck with this unless we provide some hack around the check where it is used. The reason I use it is that it does not error if the object being tested is e.g. `NULL` which `!` does.

[2018-08-29 12:41] fdetsch commented on #177
Again what learned ;-)

[2018-08-29 12:47] odelaigue commented on #177
Thank you very much for your answers!
Indeed, it would be nice to have the test in the DESCRIPTION file.

I will upgrade R from 3.4.2 to R 3.5!

[2018-08-29 12:57] edzer commented on #177
Travis checks with R-oldrel break on this, including sf. I'd suggest to use `!isTRUE(...)` instead of `isFALSE`, because of travis and because not everyone has complete control over which version of R they can work with (clusters, windows users without admin rights).

[2018-08-29 13:03] tim-salabim commented on #177
@edzer I agree that we need a proper test rather than a hard requirement for R >= 3.5.0. However, in this particular case I need to know whether an argument was set to `FALSE` explicitly (as opposed to `NULL`). Hence `!isTRUE` does not work:
[code]
whereas
[code]
which is what I need.

[2018-08-29 13:07] edzer commented on #177
Yeah, right so you'd need to do `!is.null(x) && !isTRUE(x)`, which IMO weighs against the cost of requiring 3.5.

[2018-08-29 13:08] tim-salabim commented on #177
will do so tonight. And resubmit to CRAN after the maintainance break

[2018-08-30 17:25] tim-salabim commented on #176
@kendonB Would you consider a PR for this?

[2018-08-31 07:20] scottyaz opened #178 "sync with flexdashboard"
Not sure if this is a mapview or a flexdashboard issue (probably the latter) but `sync()` doesn't seem to work within a flexdashboad. Minimal reproducible example [here](https://stackoverflow.com/questions/52102581/mapviewsync-not-working-with-flexdashboard).

[2018-08-31 16:56] dmessmer commented on #156
I'm encountering a problem where the pop-up graphs work on your web page and in my r-studio viewer, but not when I 'knit to html' using RMarkdown.  Using the [example code](https://r-spatial.github.io/mapview/articles/articles/mapview_04-popups.html#graph-popups), I've pasted a screenshot of what I encounter below.  Any suggestions as to what the problem is?  Thanks for your work on this incredibl

[2018-09-01 11:11] tim-salabim commented on #178
@scottyaz I think it is related to https://github.com/r-spatial/mapview/issues/35
In short, sync doesn't create an htmlwidget, it just arranges multiple widgets on one page. I'm planning to investigate if [manipulateWidget](https://github.com/rte-antares-rpackage/manipulateWidget) could be used to create synced maps.
Maybe you could try to go down that road in your dashboard?

[2018-09-02 11:03] #175 closed

[2018-09-11 12:27] cstepper opened #180 "mapview mapview:::burstByRow on data.table"
Hello,
it seems like `mapview` isn't able to hande `sf data.tables` when applying `burst `on a specific column.

Any ideas?

[code]

![](https://i.imgur.com/vKXMred.png)

[code]

Created on 2018-09-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-09-11 20:36] tim-salabim commented on #180
Thanks @cstepper, this seems to be an edge case.
The problem is with the `split` method of **data.table** and trips [here](https://github.com/r-spatial/mapview/blob/develop/R/burst.R#L136).

The following presents a hacky workaround:

[code]

While we could (and with regard to its scope should) implement such a workaround in **mapview**, I'd like to hear @edzer 's opinion on this one as he may hav

[2018-09-13 07:35] tim-salabim opened #181 "nrings calculation is wrong!"
The current implementation of `nrings` is hugely overestimating the number of rings in a polygon, especially when there's only one ring!

[code]
Basically counting the number of vertices in case of "POLYGON" type.
It should be `sum(lengths(st_geometry(pol)))` instead of `do.call(sum, lapply(sf::st_geometry(pol), lengths))`

[2018-09-15 04:42] arthurgailes opened #182 "Remove feature ID from popupTable"
From the example code:

 `leaflet() %>% addCircleMarkers(data = breweries, popup = popupTable(breweries))`

How can I remove or retitle the "Feature ID" part?

Thank you!

[2018-09-16 11:37] #181 closed

[2018-09-16 11:37] #182 closed

[2018-09-16 11:38] tim-salabim commented on #182
Thanks for the suggestion. The above commit enables to suppress the 'Feature ID' column in `popupTable`

[code]

[2018-09-16 16:41] edzer commented on #180
Would a `split` method for `sf` objects resolve this?

[2018-09-16 16:46] tim-salabim commented on #180
I think so, given that the class order is `sf` `data.table` `data.frame`

[2018-09-16 17:09] edzer commented on #180
So this method should remove the `sf` _and_ `data.frame` classes, then call `NextMethod()`? Feels hacky, but if it works, it works.

[2018-09-16 18:46] tim-salabim commented on #180
Yeah, I don't see a better solution without importing data.table. even then it would involve some hacks.

Doing
`as.data.frame` > `split` > `st_as_sf`
doesn't feel too hacky IMO.
Fwiw we do such things all the time when working with sf and data.table.

[2018-09-16 20:13] edzer commented on #180
That would also drop `tbl_df`s.

[2018-09-16 20:34] edzer commented on #180
We do that all the time, see for an example [here](https://github.com/r-spatial/sf/blob/master/R/tidyverse.R#L54-L58).

[2018-09-17 11:20] tim-salabim opened #183 "featureComplexity for polygons"
The calculation of `featureComplexity` for polygons is slightly wrong. We multiply the number of nodes (divided by 1e6) with both `dim[1]` and `nrings(x)`. Only the latter should be used! Accordingly for geometry only, where we need to drop `length(x)`.
See [this line](https://github.com/r-spatial/mapview/blob/develop/R/sf.R#L350)

[2018-09-17 19:49] #183 closed

[2018-09-27 09:39] RomanBi opened #184 "Map without popup"
I would like to create a map with labels, but without popups. Those are added automatically, removing them seems not straightforward.
By setting `popup = FALSE`, an empty popup is added...

Is this feature implemented, am I missing something?

[2018-09-27 09:44] tim-salabim commented on #184
Yeah, its not so intuitive as this is passed to the Javascript side and thus should be specified as `NULL` instead of `FALSE`.

 - I should add a test for `FALSE` -

[2018-09-27 09:47] RomanBi commented on #184
Works like a charm. Thank you!

[2018-09-27 09:48] tim-salabim commented on #184
Keeping this open as a reminder to implement check

[2018-09-27 14:58] Jellest opened #185 "Grey map on zoom in with empty mapview()"
When I run `mapview()` without any arguments, I get a grey map after zooming in. I get this for all the different standard provided basemaps in the layer switcher. Is this normal?

![empty map view](https://user-images.githubusercontent.com/6051312/46154786-28b9e100-c276-11e8-8286-68be74847a5d.png)

Running mapview 2.5 on R 3.5 on a Linux machine.

[2018-09-27 15:04] tim-salabim commented on #185
Yes, totally normal and intended.
Background tiles are usually only available for zoom levels up until 18/19. Everything beyond that will be a grey background. The default leaflet settings will not allow you to scroll past zoom 18/19. mapview on the other hand allows this, as sometimes geometries can be very small (e.g. sliver polygons created via intersection).

[2018-09-27 15:04] #185 closed

[2018-09-27 15:11] Jellest commented on #185
Thank you for your quick response. Yes, I’m aware that maps only have certain zoom levels but not that mapview has no default max zoom levels, which I was expecting. Thanks for clearing that up.

[2018-09-27 15:16] tim-salabim commented on #185
The max zoom level is set to 100 in mapview https://github.com/r-spatial/mapview/blob/develop/R/leafletControls.R#L193

[2018-09-27 16:29] tim-salabim commented on #184
a8334e9 should fix this. Now also accepts `FALSE` to suppress popups.

[2018-09-27 19:54] #184 closed

[2018-10-01 19:55] NHPatterson opened #186 "Coordinates of TiledImage"
Hello

I am using the recently rolled out ```addTiledImages()``` but wondering if the coordinates are supposed to be projected? I'm trying to place objects on the non-georeferenced tiled image based on the pixel coordinates of the image..

Also, I am serving the tiles locally so I have sort of removed some of the code
[code]

All of this works for display, but my coordinates run from x - 0:130, y

[2018-10-01 21:33] markgrujic opened #187 "plainview with discrete (levels) rasters"
Hi,
Is it possible to display the levels of a raster in the plainview legend instead of their numeric equivalent?
[code]
Something like rasterVis::levelplot picks this up.
How can we access more advanced legend options?
Cheers!

[2018-10-02 16:29] tim-salabim commented on #186
Hi, we never included `addTiledImage()` in any CRAN release and the functionality has been removed from mapview as it was simply too slow. Therefore, we never implemented any additional functionality to put features on top of unprojected tiled images. It can be done using `rastercoords` which has a method to project coordinates to pixel coordinates but, as I said, I've never bothered looking into

[2018-10-03 01:42] #186 closed

[2018-10-03 12:11] tim-salabim commented on #187
The above commit allows you to pass a valid colorkey specification list as defined in ?lattice::levelplot via the legend argument so that the following can now be done
[code]

![screenshot from 2018-10-03 14-11-20](https://user-images.githubusercontent.com/2826432/46409536-407de300-c716-11e8-8043-ba9748e32d30.png)

Does this achieve what you have in mind?

[2018-10-04 00:48] markgrujic commented on #187
Perfect, that's it!
Appreciate it.

[2018-10-04 02:13] ezunder opened #188 "Local vs. remote images. editMap can't display local image files in RStudio."
I want to use Leaflet and mapEdit to display local images and draw polygons on them.  I've almost got everything working, but I can't display local images in a leaflet with mapEdit.  I think this might be a problem with sandboxing because Leaflet uses javascript via htmlwidgets.  The local images display fine in leaflet view though (see comments below).

    `library(leaflet)
    library(mapview)

[2018-10-04 05:58] tim-salabim commented on #188
Hi, the issue is that the html needs relative paths to work everywhere. As we cannot know the location of the `index.html` file created by leaflet, we have to save the logo locally in the directory where we know the folder containing `index.html` resides - `tempfolder()`. This is where we save/copy the local image to and tell the map where to find it - `../graphs/`.
The easiest would be to embed t

[2018-10-04 05:59] #187 closed

[2018-10-04 14:00] ezunder commented on #188
Thanks for looking into this.  I wasn't aware of the R temp directory location so this was good for me to learn!

Just for fun I tried editing the leaflet path explicitly to this temp directory, but it still didn't work with editMap().
`#try fixing the path with tmp folder location
tmp_folder <- tempdir()
tmp_folder <- gsub("\\\\","/",tmp_folder) #portability
svg_file_loc <- paste("file:///", tmp_

[2018-10-05 07:05] tim-salabim commented on #188
I am not quite sure I understand your intention correctly. Why do you wanto to use a raster display when dealing with xy scatterplots?
`mapview` has scatterplot facilities (either from a data.frame or two numeric vectors), so you could just set-up your "map" using e.g.
[code]

[2018-10-08 16:32] ezunder commented on #188
Thanks for taking the time to look into my questions and think about solutions.  I want to use raster display (or really just image files - maybe this is the same thing?) because my xy datasets have millions of points and this tends to bog down the performance of normal scatterplot visualization.  My "workaround" solution to this performance problem is to just use an image of the scatterplot inste

[2018-10-08 16:58] tim-salabim commented on #188
Ok I think I get it now.

Unfortunately, I don't think this is easily achievable. The draw tools for leaflet need projected map coordinates and will return unprojected longitude/latitude values. Hence, this will only work if your image coordinates are between -180/180 (x) and -90/90 (y). Or if you can somehow rescale everything to be between 0 and 1.

There is a leaflet plugin to deal with non-geo

[2018-10-14 21:05] dmwarn opened #189 "Question or issue"
Hi.
I'm writing mostly to determine if you can tell me if what I am seeing is simply a limitation of addImageQuery() or not.  I saw something, somewhere on your github something about this function having limitations with stacks (quoted text below).  I am trying to use a stack and selectInput() to choose which layer of the stack is displayed.  addImageQuery() only displays the raster value at the

[2018-10-16 09:05] JimShady opened #190 "Sizing of panels using sync"
Hello,

I'm trying to make a sync'd mapview of three panels in RMarkdown. The default width isn't wide enough for me. But when I increase the width, it only seems to effect one panel. Reproducible example below, and PNG output of the result. Grateful for any ideas/tips on how to solve this.

n.b. each of the code chunks below are actually rmarkdown chunks. I couldn't get GitHub to style them as th

[2018-10-16 13:13] ochee opened #191 "Dynamic Time slider"
Hi,

I was wondering if there is a way to add a time slider (as a widget ) on a mapwiew map.
I would like to add a slider, to see value dynamically over time. I didn't see anything about in help page web.

Here an example :

`library(sp)`
`library(mapview)`

`dat=data.frame(lon=c(4,4.5,5,4,4.5,5,4,4.5,5),
lat=c(60,65,58,60,65,58,60,65,58),
time=c(1,1,1,2,2,2,3,3,3),
value=c(120,105,90,50,20,70,30,

[2018-10-17 07:27] cywhale opened #192 "Can popupGraph support plotly::plot_ly on shiny leaflet?"
popupGraph can show plot_ly() graph correctly on leaflet (Rstudio viewer), but cannot work on shiny server.
The popup panel show grey "NOT FOUND" (404 cannot find popup_graphs/tmp_1.html)

But ggplot2  graph is ok for both Rstudio and shiny.
Thus, is there any way for popupGraph supporting plotly::plot_ly on shiny leaflet?

Here is a small example code: (app.R)
[code]

[2018-10-17 09:19] tim-salabim commented on #189
Hi @dmwarn
sorry for the long silence. I had seen your posts on SO and R-sig-geo. I think that the issue here is the right place for your inquiry.

I am pretty sure that what you experience is a limitation of how `addImageQuery()` is implemented. Basically, it writes a json array to disk from R and then queries that from the JavaScript side (upon mouse move/click). If you provide a stack, it write

[2018-10-17 09:21] tim-salabim commented on #191
Sorry, this is currently not possible and is not high on my priority list.

[2018-10-17 11:30] dmwarn commented on #189
Thanks for the reply!  I wonder if one way around this is to NOT use a
raster stack but rather a list of rasters?  It won't hurt for me to try
this.

For what it is worth, I've not yet found a way to do what
mapview/leaflet/shiny currently achieve in QGIS except Qgis3js, and that
tool so far will only handle one raster.  So I'd like to remind you that
mapview is pretty amazing.  I've been looking

[2018-10-17 19:15] dmwarn commented on #189
FYI, I tried this with a list of rasters rather than a stack but get the same result.  Looking at the code in the function it is a logical result, I think.

[2018-10-21 09:02] #191 closed

[2018-10-22 09:11] earthcli opened #193 "Error with addResourcePath for new version of mapview and leaflet"
I have created a mapview object(large size raster) and  built in one package of myself, and it was load by data(m) and then passed to the shinyserver, so that it will take less time when opening the shiny web. This works well before I updated the R to version 3.5, and at the same time the mapview, leaflet, and shinydashboard was updated to the new version. The error information is as below:
[code]

[2018-10-22 11:15] tim-salabim commented on #193
I don't think you can do that! Clearly you're depending on data that resides in a temporyry folder which will be deleted when you close your R Session. I am surprised that ever worked. I guess what you need to do is save the map as a .html file and somehow include that in your package.

Is your package online somewhere? Maybe I can have a look and understand better what you are trying to do.

[2018-10-22 11:54] earthcli commented on #193
@tim-salabim Thanks for your response.

I have done this with the below sample code:

shinyServer(function(input, output, session){
  data(m,package="my")
   output$mapplot <- renderLeaflet({m@map})
}
while in former version I use "output$mapplot <- renderMapview(m)"
m is a mapview object containing three layers: land use type(two layer), and weather stations in point.

My package is not submitted

[2018-10-22 12:00] earthcli commented on #193
![shiny web screen](https://user-images.githubusercontent.com/5924370/47291118-13e22a80-d635-11e8-9159-ea18ddc3e52c.png)

[2018-10-22 12:07] tim-salabim commented on #193
The way I see it is that `addImageQuery` - the function that gives you the raster values on mouseover - is causing the issue as it writes data to a temporary folder on disk. This folder is deleted once you close your R Session, hence the dependency cannot be found anymore.

What you can try is to manually copy the `data_starsXXXXX...` file(s) to where the map is served. You would need to make sure

[2018-10-22 12:18] earthcli commented on #193
Thanks for your suggestion @tim-salabim .
I will try to copy it to a relative path.
I agree that it may be related with the temporary files created by the new version leaflet, while it seems that there is no temporary files created by the former version.

[2018-10-22 12:26] tim-salabim commented on #193
What was your former version of mapview? The temporary file is created by mapview, introduced in [2.3.0](https://github.com/r-spatial/mapview/blob/develop/NEWS.md#mapview-230)

[2018-10-22 12:40] earthcli commented on #193
sorry, the former ‘mapview’ version is 1.2.25 on my server computer.

while it is an excellent package that helps me a lot in my work, I have use it for more than three years, thanks for your work.

[2018-10-23 05:37] tim-salabim commented on #193
So, can we close this issue here then?

[2018-10-23 07:13] earthcli commented on #193
Of course. Please close this issue.
Thanks a lot @tim-salabim.

[2018-10-23 07:50] #193 closed

[2018-10-27 23:29] ddheart opened #194 "Mapview gsub error; "Invalid UTF-8""
Hello, I'm running mapview on a dataframe (or rather two dataframes: mapview(df1) + mapview(df2)) and I'm seeing this error instead of any Viewer panel output in RStudio:

Error in gsub("</", "\\u003c/", payload, fixed = TRUE) :
  input string 1 is invalid UTF-8

I'm running mapview_2.5.0, and as far as I can tell similar issues were addressed and resolved in previous PRs, so I'm not exactly sure

[2018-10-28 08:48] tim-salabim commented on #194
Can you provide a reproducible example?
I don't think this is an issue related to mapview, but I can only be sure with a reprex.

[2018-11-02 15:16] ddheart commented on #194
For sure here's what I have. I isolated the observation causing the error and called `dput()` on it but strangely the behavior changes depending on whether I assign `dput(x)` directly to a variable or copy-paste the full structure you need for reproducibility...I don't understand why there's a difference in whether the error shows up...

library(mapview); library(tibble); library(dplyr)
x <- testd

[2018-11-02 17:39] ddheart commented on #194
More specifically, it looks like it's having a problem with the ü (u umlaut) character, here shown escaped with \xfc, where FC is the valid hexcode for ü.

[2018-11-03 18:42] ddheart opened #195 "Legend creation issue with mapview zcol & col.regions parameters"
When using the zcol and col.regions parameters in `mapview()` to make a legend with specific colors tagged to values, the mapview object produced presently does not retain the order / shuffles the colors around. In this example there are 32 colors for 32 spatial points.

[code]

Same question on SO post: https://stackoverflow.com/questions/53127662/how-to-control-specific-map-and-legend-colors-in-

[2018-11-08 17:19] vjjan91 opened #196 "mapshot .html file cannot be shared?"
Hello,

I am trying to share a .html file that I saved using the function mapshot, but my collaborator is unable to view it. Is the only option of sharing this map via RPubs? Is there any other way I can save this .html file and share it?

[2018-11-08 17:35] tim-salabim commented on #196
Did you also share the `_files` folder?

[2018-11-08 18:46] vjjan91 commented on #196
I see. That's a lot of folders to share over e-mail. Do they have to download each one to view this in their desktop? Thanks!

[2018-11-08 19:43] tim-salabim commented on #196
Its one folder with subfolders depending on your mapview call. This is how `saveWidget` works which mapshot is a wrpper for. And yes the files folder is needed.

[2018-11-09 16:46] tim-salabim commented on #192
Sorry for the late reply! I'll look into it, though likely not before December.

[2018-11-09 16:47] tim-salabim commented on #190
Sorry for the late reply! I'll look into this, but likely not before December.

[2018-11-09 17:38] tim-salabim commented on #195
The above commit should fix your issue. Please test thoroughly.

[2018-11-10 16:45] ddheart commented on #195
The commit was to the 'develop' branch. If I use `devtools::install_github('r-spatial/mapview') in RStudio it just says the source is unchanged. If you're not committing to master yet, what's the easiest way to pull from that branch?

[2018-11-10 17:02] tim-salabim commented on #195
`devtools::install_github('r-spatial/mapview@develop')`

[2018-11-14 19:42] ddheart commented on #194
For some reason it wasn't reproducible using `dput()`, but if you change this .txt file's extension to .RData and call `load()` on the path in R, it should load a variable called `samp`. `mapview(samp)` should return this error:

`Error in gsub("</", "\\u003c/", payload, fixed = TRUE) :
  input string 1 is invalid UTF-8`

[errordata.txt](https://github.com/r-spatial/mapview/files/2582358/errordata

[2018-11-15 18:12] ddheart commented on #195
This commit appears to fix everything to my knowledge and awareness. I don't know what additional edge cases I could look at that you'd normally test for on this, but it certainly fixes my issue (and the example above) for my purposes. Thanks so much.

[2018-11-15 18:41] tim-salabim commented on #195
Cool! So I'll close here

[2018-11-15 18:41] #195 closed

[2018-12-06 19:49] apsteinmetz opened #197 "addLogo not working (again?)"
Thanks for a great package.

I'm trying to add a local image where `img` is a valid path beneath the working directory to a valid png file like so:
[code]
The basemap is displayed but nothing else.
For the sake of reproducibility,  this line straight from the examples does not work either.  It just shows the blue question mark on top of the basemap.

[code]

[code]

[2018-12-07 07:43] tim-salabim commented on #197
Can you try with the github version, please. All examples run just fine for me (using mapview 2.6.2)

[code]

[2018-12-07 23:04] apsteinmetz commented on #197
Yes that did it.  Thanks! This version also introduces a major new behavior (perhaps intended).  `mapview` objects no longer render in the RStudio notebook or in the browser "Preview."  They do render in the RStudio viewer pane and in the knit-to-HTML document.  This is also true when `leaflet` is called directly. Is that supposed to happen?

[2018-12-07 23:41] apsteinmetz commented on #197
Ooh, here's a good one.  Using `addLogo()` changes the object type from `mapview` to `leaflet` so the ability to chain multiple `mapview` objects using the `+` operator is lost.  Here are the cases:

[code]
Hope this helps.

[2018-12-08 09:30] tim-salabim commented on #197
Regarding the rendering issue, given that it's also true for `leaflet` objects, it seems to be an RStudio issue, rather than a mapview thing.

For your last example, `addLogo` always returns a leaflet object, as it is intended to enhance leaflet, not mapview, and thus to be pipeable needs to return an object of class `leaflet`. Maybe I should revisit the `+` method again and try to get it working

[2018-12-11 14:43] JimShady commented on #190
Cool thanks @tim-salabim

[2018-12-14 02:47] cenuno opened #198 "markers not being added to leaflet map in shiny when exporting via mapview::mapshot()"
# Overview
This question stems from the following Stack Overflow question: "[How to save a leaflet map with drawn shapes/points on it in Shiny?"](https://stackoverflow.com/questions/53650039/how-to-save-a-leaflet-map-with-drawn-shapes-points-on-it-in-shiny). This isn't a repost; I'm simply trying to understand where my potential solution is going wrong.

# Question
Why aren't the points from first

[2018-12-17 22:31] YsoSirius opened #199 "showMethods("mapview") breaks RStudio 1.1.456"
Executing these 2 lines will break down RStudio 1.1.456

[code]

Before shuttig down, multiple

are shown in the console.

[2018-12-18 01:55] uribo opened #200 "Doesn't display when `mapview(zcol = )` in logical variables"
Hi :)
I attempted to paint variables by logical value. However, NULL is returned and the basemap is not display.
reprex is here.

[code]

<sup>Created on 2018-12-18 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2018-12-18 08:16] tim-salabim commented on #200
Thanks!
This one should be easy to fix internally as this works:

[code]

[2018-12-18 08:21] tim-salabim commented on #199
Works for me using RStudio 1.2.1114 so seems like an RStudio issue.

Does `showMethods("mapView")` work? (with a capital `V`)

[2018-12-18 10:09] uribo commented on #200
Thanks for pointing that out :+1:
However, I wish to allow logical column does not convert to the character.

[2018-12-18 10:09] #200 closed

[2018-12-18 10:11] tim-salabim commented on #200
I will have a look how to handle this internally soon. The above was just to show that a fix should be easy.

[2018-12-18 11:01] YsoSirius commented on #199
on another PC with RStudio 1.1.463 both methods work but show different results.
[code]

and
[code]

I will test in the evening with the other computer and report again, but it might be an RStudio problem only.

[2018-12-19 00:03] YsoSirius commented on #199
Capital V does not work with RStudio 1.1.456.

I'll just update to the new version.

[2018-12-19 00:03] #199 closed

[2018-12-19 08:48] #196 closed

[2018-12-29 06:22] emochoa opened #201 "Large sets of points (greater than a threshold) rendering below polygons"
Greetings.

I'm wondering if there is a known fix for an issue I'm running into.  Here's the situation:

I'm plotting points and polygons together in a single mapview map:  the desired behavior is that the points are plotted above the polygons.

The polygons are always fixed, but the size of the point set is variable.  If the point set grows over a certain threshold (which, to complicate matters,

[2018-12-29 08:58] tim-salabim commented on #201
Hi erin, thanks for the comprehensive example. I am currently not at a computer so can verify all I'm saying.

You can try to set `canvas = FALSE` in both mapview calls to force the usual behaviour of points above polygons. The threshold when mapview sets canvas to true internally should be 10000 for points. Note that for very many points you may experience slow map responsiveness.

[2018-12-29 10:25] #201 closed, assigned to nobody

[2019-01-14 12:57] gillesgerlo opened #202 "Multi-line labels"
Is there any way to get line breaks in the hover labels?
html content is only evaluated in the popup, but not in the label.

[2019-01-14 12:58] #202 closed

[2019-01-14 12:59] gillesgerlo commented on #202
As I write the issue I finally get it to work, sorry about that. Seems the HTML function does the trick:

`
 htmltools::HTML(paste('line 1', 'line 2: ', sep = '<br/>')
`

[2019-01-25 17:50] tim-salabim commented on #200
Finally implemented the patch.

[2019-01-30 19:54] Jigar-S commented on #109
Hello Tim,
Thank you for the solution to try and override the default leaflet css with the mapview version.
However when I am running the above code, I get an error message that says:

Error in get(name, envir = asNamespace(pkg), inherits = FALSE) :
  object 'mapviewPopupDependencies' not found

I have updated both leaflet as well as mapview to the latest versions:
Leaflet version 2.0.2
mapview ve

[2019-01-30 20:34] Jigar-S commented on #109
Hey,
I figured it out on my own. The function name has changed from 'mapviewPopupDependencies()' to 'popupLayoutDependencies()'

Thanks,
Jigar

[2019-01-30 20:52] tim-salabim commented on #109
Glad you found it. Would have taken me a while to figure that one out!

[2019-02-05 12:45] danceb opened #204 "Order of attributes in mapview object varies"
Hello there,

I have a case, where I want to to extract the colors used for plotting. Therefore I will plot the data with mapview first, save the result in an object and extract the color attributes afterwards.
[code]
But the place, where the attributes are stored, varies. If I am looping this over different data sets, I will find the colors in some cases at
[code]
and in the other cases at
[code]

[2019-02-06 18:32] tim-salabim commented on #204
Hi Daniel,
it is indeed a little tricky to predict where the `fillColor` vector is being stored. I fear it has something to do with the argument order in the mapview call. But I am not sure this explains it in its entirety. In any case, mapview has a built-in yet not exported function which will get us half way to extract the fill colors- Here's a somewhat hacky solution which should extract the f

[2019-02-07 09:44] danceb commented on #204
Hey Tim,

thanks a lot for your detailed and personal answer! Yes, I will admit, that my case is very special and is not really within the original scope of the mapview package. But with your function I can get the data I want.
Thanks again for your great work an be a part of bringing GIS and R together!

Dan.

[2019-02-07 09:44] #204 closed

[2019-02-08 07:41] maxbre opened #205 "detailed mouse position information"
this is a follow-up of the thread in stackoverflow:
https://stackoverflow.com/questions/54559604/mouse-coordinate-information-at-top-of-map-with-leaflet-mapview-in-r?noredirect=1#comment95958989_54559604

I'm here opening a request (checking the possibility) to display detailed mouse position information when setting up the map via leaflet

thanks

[2019-02-08 17:53] tim-salabim commented on #205
The current version now supports native coordinates when leaflet map is set up with `L.CRS.Simple`. For obvious reasons, we cannot know what the `crs` is, as we don't necessarily have access to the data being shown. If you need that information, `mapview(x, native.crs = TRUE)` is your best option.

[2019-02-10 15:10] tim-salabim opened #206 "break package into smaller components"
mapview has become quite a beast to maintain... Therefore, we should break several components out of the package into smaller packages - function (package):

[ ] cubeview (cubeview)
[ ] slideview (slideview)
[ ] plainview (plainview)
[ ] sync/latticeview (leafsync)

Likely, to avoid code duplications, we also need some sort of core package that provides functions used by any 2 of the above (incl.

[2019-02-10 15:16] gisma commented on #206
lazy sunday...
absolutely appreciated! but you are the one who is doing it and knows better than everybody what it means...
However I am not aware if the R package concept allows for something like a _core-package_ without any other functionality. Otherwise we will be hardly able to split it without massive code duplication?

[2019-02-10 15:27] tim-salabim commented on #206
Should be ok, see tmap and tmaptools

[2019-02-10 15:43] gisma commented on #206
hm afaik not quite the same. `tmaptools` is at least offering some sort of  standalone functionality. Right in the moment I don't see this part in the view-core package. However usually you are right with your assessment... So let's give a try.

[2019-02-11 08:14] tim-salabim commented on #206
cubeview successfully moved to https://github.com/r-spatial/cubeview. The only thing left to do is to transfer the kili ndvi rasterstack from mapview to cubeview data

[2019-02-11 08:37] fdetsch commented on #206
This is not directly associated with your question, but anyway &ndash;

Since they are no longer required, I suggest we move `coords2Lines()` and `coords2Polygons()` to **Orcs** and flag these functions as deprecated in **mapview**. How about `coords2JSON()`, is this one still needed? If I had to guess, these utility functions might still be of value for some **sp** hardliners ;-)

[2019-02-11 08:46] tim-salabim commented on #206
@fdetsch Good idea! I am unsure about `coords2JSON()` at this stage, it may still be used in `popupTable`. Can you address the other two?

[2019-02-11 08:58] edzer commented on #206
@fdetsch a reverse dependency check would reveal whether any CRAN packages are using these functions.

[2019-02-11 16:52] fdetsch commented on #206
@edzer if you don't mind my asking, which reverse dependency check returns both the package name and the function used therein? I am somewhat familiar with `revdepcheck::revdep_check()` and the like, however, I have no clue on how to get information on the **mapview** functions that individual packages use.

[2019-02-11 17:19] edzer commented on #206
Oh, I do this much more primitive, e.g. for `sf` I use
[code]
after which I examine `r` and the check directories created. If you build in a `.Deprecated` the offending packages will show up.

[2019-02-11 20:25] tim-salabim commented on #206
slideview should also be done

[2019-02-11 20:27] tim-salabim commented on #206
Note that for now I've simply copied over all and any bits of code needed to make the packages work. This should give a good indication of what needs to go into a potential core package.

[2019-02-11 20:43] gisma commented on #206
Actually thats seems not to much of code at all. On the other hand a fairly special compilation of functions for a standalone package...

[2019-02-11 20:45] tim-salabim commented on #206
Lets see what's needed to make the others work...

[2019-02-12 20:23] kendonB opened #207 "mapview for stars giving an error"
Hi there,

I am trying to mapview an hdf4 MODIS file. After logging in to NASA earthdata (accounts are free but I'm not sure I can share it here), one can be downloaded from:

[code]

When I try to mapview it, I get:
[code]

[2019-02-12 20:41] tim-salabim commented on #206
leafsync should also be done https://github.com/r-spatial/leafsync

@mtennekes heads-up regarding leafsync. Can you test whether this is enough to drop the mapview dependency in tmap? This is now very lightweight, no major dependencies anymore. Should significantly improve https://github.com/mtennekes/tmap/issues/240

[2019-02-12 20:46] tim-salabim commented on #207
Thanks for reporting. Can you reproduce the error with a built in data set from stars? Just wondering if it has to do with the particular data set or if stars has generally evolved in a direction that mapview cannot handle right now.

[2019-02-12 20:56] edzer commented on #207
`mapview(out, legend = FALSE)` works, though, although it looks funny; stack trace:
[code]

[2019-02-12 21:00] edzer commented on #207
[code]
same error

[2019-02-12 21:24] tim-salabim commented on #207
Seems like it's time to catch up with stars development ...

[2019-02-12 21:44] edzer commented on #207
Let me know where I can help!

[2019-02-13 19:34] tim-salabim commented on #205
Does this solve your issue @maxbre?

[2019-02-14 07:32] maxbre commented on #205
yes, thank you
you can consider the thread closed

[2019-02-14 08:01] #205 closed

[2019-02-14 09:54] rsbivand opened #208 "Quick query - color table"
Is there a way of using a color table such as the csv file with RGB, land cover category codes and names in this zip archive:

[LUC3.zip](https://github.com/r-spatial/mapview/files/2864348/LUC3.zip)

to register against the values in a raster/SpatialGrid? By default, the raster layer and SGDF methods treat the values as continuous, is there a way around? The archive also includes a small subset of

[2019-02-15 10:21] rsbivand commented on #208
@edzer  - is colour table support feasible in the **stars** setting?

[2019-02-15 10:30] tim-salabim commented on #208
Currently not possible in mapview. It would be nice to have though. In case you have any ideas on/experience with how to implement such a thing, I'd love to hear them.
I'll have a look at the file you link on the weekend

[2019-02-15 10:52] edzer commented on #208
Like in:
[code]
![x](https://user-images.githubusercontent.com/520851/52852142-17d01600-3118-11e9-923d-2bc364d3854e.png)

[2019-02-15 10:53] edzer commented on #208
So the current hack simply assumes that the rgb table is as the one supplied here: col 1 index, col 2 label, col 3-5 R, G B. Is there some precedence (raster?) on how to do this more flexibly? Use named columns? allow for alpha? cater for the case where there are no labels? etc.

Also: no legend yet...

[2019-02-15 10:55] rsbivand commented on #208
There was code in **rgdal** for reading colour tables from raster files, but matching integer codes to the colour tables was tricky. GRASS has a list of colour tables to apply to raster layers. The data then look like factors, with the colours as levels, to avoid replication. But from **stars** it seems to be available (@edzer posted while I was thinking. In **rgdal** it uses the `GDALColorTableH

[2019-02-15 11:04] edzer commented on #208
Does ggspatial deal with color tables, and if yes, how @paleolimbot?

[2019-02-15 11:12] rsbivand commented on #208
Which **stars** version? See also https://github.com/bergen-ml/2019-02-19-bivand - I'm subsetting from the file downloaded from the link to LandGIS ...

[2019-02-15 11:51] rsbivand commented on #208
OK, wrong subsetting in my code, works now with **stars** master.

[2019-02-15 12:39] edzer commented on #208
Looks like the downsampling algorithm doesn't work well, yet:
![x](https://user-images.githubusercontent.com/520851/52857337-240f9f80-3127-11e9-847a-5f6f06502d4b.png)

[2019-02-16 10:00] tim-salabim commented on #208
@rsbivand seems like you can get the color mapping like so:

[code]

![screenshot from 2019-02-16 10-59-19](https://user-images.githubusercontent.com/2826432/52898090-0e0ee700-31da-11e9-9372-66a5cd66a8ba.png)

[2019-02-16 11:05] tim-salabim commented on #208
@rsbivand the following works but needs a little work to set up the color lookup properly:

[code]

![screenshot from 2019-02-16 12-01-23](https://user-images.githubusercontent.com/2826432/52898829-21728000-31e3-11e9-8e14-d9f0063bd9d0.png)

The crucial bit is to a) convert the raster to a factor layer and b) to make sure the color vector only contains values actually present in the layer.

[2019-02-16 18:42] rsbivand commented on #208
Thanks, I needed to `stack` after `as.factor` for the factors to feed through for input bands. Optically, the key looks off also because of the alpha=0.8 default - can alpha for the key be adjusted to match the image?

[2019-02-16 19:16] tim-salabim commented on #208
For me it works without the call to `stack`.

Regarding the key, opacity is hardwired to 1 for legends, see https://github.com/r-spatial/mapview/blob/develop/R/legend.R#L321. If you set layer opacity to 1 via
[code]
the colors should match (I checked with Gpick)

Should we set legend opacity to the same value as layer opacity ba default?

[2019-02-16 19:30] rsbivand commented on #208
Maybe matching the key alpha might make sense (do you have contacts to set up some tests - like click on objects matching key values for matched and unmatched key alpha? Group of cartography students maybe?).

I needed multiple input bands to be able to toggle to contrast LU/LC changes.

[2019-02-16 19:56] tim-salabim commented on #208
Unfortunately I've left academia so access to free work-force is limited now :-)

Colour values of map and legend can only ever match when alpha is set to 1, as otherwise the values will depend on what is located on the basemap underneath the layer region of a certain colour vs. what is underneath the legend entry of that same colour. This will be "not so bad" for the default grey background map w

[2019-02-17 10:41] tim-salabim commented on #208
I found [**leaflet.opacity**](https://cran.r-project.org/web/packages/leaflet.opacity/index.html) by @be-marc which lets us add an opacity slider to a leaflet map. Although it is currently not very customisable (e.g. you currently cannot control slider placement), it may be useful for demonstration purposes.

[code]

![peek 2019-02-17 11-32](https://user-images.githubusercontent.com/2826432/529117

[2019-02-17 19:57] tim-salabim commented on #208
Ok, so I've had some success to enable opacity control via key strokes. [This gist](https://gist.github.com/tim-salabim/7c4c5a98335f2b41f8a6b26e96825c8f#control-raster-layer-opacity-with-ot-buttons) enables the use of keys 'o' (opaque) and 't' (transparent) to increase/decrease the layer opacity without adding a slider to the map.

Even though this sidetracked quite a bit, I am grateful for what t

[2019-02-17 20:23] #208 closed

[2019-02-19 12:57] andzandz11 commented on #44
I tried to reproduce the example because I am interested in this too and it fails.
[code]

[2019-02-19 13:23] andzandz11 opened #209 "Tutorial error"
https://r-spatial.github.io/mapview/articles/articles/mapview_04-popups.html#interactive-popups

This gives me a 404 in the popup.

![grafik](https://user-images.githubusercontent.com/19622117/53018145-e0cc6e00-3451-11e9-8548-15aa80c1bbfe.png)

[2019-02-19 13:35] andzandz11 opened #210 "NA bloats up legend [feature request]"
![grafik](https://user-images.githubusercontent.com/19622117/53018776-86cca800-3453-11e9-8e2f-1f0e6c3a1343.png)

Please make it so NA is displayed below the legend and not to the right of it because this causes a lot of space to be lost (whitespace).

For example here:
https://r-spatial.github.io/mapview/articles/articles/mapview_02-advanced.html#multiple-layers

[2019-02-19 13:42] andzandz11 opened #211 "zcol information hides map [feature request]"
![grafik](https://user-images.githubusercontent.com/19622117/53018854-b11e6580-3453-11e9-82b2-1b3c9ec66ad7.png)

Please make the zcol information 1) scrollable (it is cut off right now) 2) hideable ( like the bar on the left: https://spatial.ala.org.au/# )  3) prevent linebreaks.

[2019-02-19 13:55] andzandz11 opened #212 "Tutorial weird legend"
![grafik](https://user-images.githubusercontent.com/19622117/53019991-4884b800-3456-11e9-9ff4-25142c5317b5.png)

Can you please fix this in the tutorial so that the legend displays values or is hidden?

https://r-spatial.github.io/mapview/articles/articles/mapview_07-pipe.html

[2019-02-19 16:01] andzandz11 commented on #90
How can I force the maximum/minimum zoomlevel by user supplied parameter?

[2019-02-19 16:05] andzandz11 opened #213 "zoom-to-layer button function [Tutorial]"
I sorry but it is unclear to me what this does.
It does zoom geographically to the centroid/weighted middle/zoom to include everything ...(?) of the layer, but it does not exclude other layers from view?
If layers all have the same dimension then zoom to the center does nothing if the map hasn't been moved, right?
Same as here:
https://r-spatial.github.io/mapview/articles/articles/mapview_01-basic

[2019-02-20 20:17] whisp1986 commented on #192
Hello, was there a resolution to this issue?

[2019-02-21 01:18] cywhale commented on #192
I used an alternative way in my mapedit web app. Detect the mouse click on polygons (observeEvent({input[[ns("map_shape_click")]]},...) and open a wellPanel with plotlyOutput(), then plot my plot_ly() result on this panel.

[2019-02-21 16:58] whisp1986 commented on #192
Thank you, do you mind posting some example code? - I'm trying to use insertUI with an absolute panel, with plot_ly...it's working but can't be dragged when placed inside the leaflet map.

[2019-02-22 03:22] cywhale commented on #192
Sure, please try this example
https://github.com/cywhale/ODB/blob/master/mapedit_plotly_example/app.R

absolutepanel should be draggable if set draggable = TRUE

[2019-02-25 08:05] whisp1986 commented on #192
Thank you! - I also fixed the problem by wrapping the whole panel in jqui draggable context.

[2019-02-25 11:23] tim-salabim commented on #213
If layers all have the same dimension then zoom to the center does nothing if the map hasn't been moved, right?

That's right. The idea here is to provide quick zoom-to functionality in case there are several layers on the map with different extents, so that instead of panning manually the user can simply click on the button(s) to re-center the map on the respective layers.
If all layers have the

[2019-02-25 11:33] tim-salabim commented on #211
Thanks for the suggestions. I fear there is little I can do on mapview side to address this. This is all inherited behaviour from [leafletjs](https://leafletjs.com). I totally agree that a proper hidable side-panle would be ideal, but as long as there is no proper JavaScript solution for leafletjs available, this is beyond the scope of mapview. If you find a suitable plugin, please let us know.

[2019-02-25 11:38] tim-salabim commented on #210
I agree that it looks ugly, however, even if we could control the `NA` placement (which we can't), it wouldn't solve the white-space issue, as the legend title is the culprit of the white space. We could, however, place the attribute column name ('founded') underneath the layer name ('breweries'). This would also solve the `NA` placement. The only disadvantage this may cause is that legends will b

[2019-02-25 11:41] tim-salabim commented on #209
This is a long standing issue. I have yet to find a suitable solution. Thanks for the reminder.

[2019-02-25 12:29] tim-salabim commented on #198
Sorry for the late reply.
This is really weird!

`mapshot` seems to work as expected as e.g. the zoom control buttons at the top-left of the map are removed in the resulting png.
As you point out correctly, the zoom and location settings of the map are respected, but everything else seems to be ignored... In the following I am also trying to change (add) the baselayer, which is also not respected.

[2019-02-26 21:50] valentinitnelav opened #214 "Display legend labels as character for categorical raster"
I moved my question from Stack Overflow ([link](https://stackoverflow.com/q/54881388/5193830)) here, at the suggestion of @tim-salabim . When trying to plot a categorical raster with `mapView`, I would like to have the legend labels corresponding to a certain variable/column from the 'Raster Attribute Table' (RAT) like is possible with `rasterVis::levelplot()`. Below is an example:

[code]

![](ht

[2019-02-27 17:17] tim-salabim commented on #214
Thanks! I think it is an important issue to be solved as I believe that integer representations of categories are not a good way to convey information.

[2019-02-27 17:27] tim-salabim commented on #214
@oscarperpinan why is using the second column of the RAT table set to a default of `att = 1L`? Wouldn't it make more sense to have `att = 2L`?

[2019-02-28 05:57] cenuno commented on #198
Thank you @tim-salabim!

I'm trying to see if there's a way to convert from `.html` to `.png` - [this post on SO](https://stackoverflow.com/a/48456652/7954106) using [`webshot::webshot()`](https://github.com/wch/webshot) seemed like a good start. However, it looks like that this would have to happen outside of `shiny::downloadHandler()`.

I'll close this for now as the `.html` method at least prov

[2019-02-28 05:57] #198 closed

[2019-02-28 07:15] tim-salabim commented on #198
Just to be clear, `mapshot` is essentially `saveWidget`+ `webshot`. So maybe you're onto something when you say that this need to be two different steps (outside the download handler first). My shiny is simply not good enough...
Please report back, should you find a solution.

[2019-02-28 18:28] oscarperpinan commented on #214
This is what the help page of `raster::ratify` explains about the RAT table:

     data.frame. The first column in the RAT ("ID") has the unique cell values of the layer; this column should normally not be changed. The other columns can be of any basic type (factor, character,     integer, numeric or logical)

Thus, to my understanding, the `ID` column is not useful for a graphic, and can be dropp

[2019-03-03 19:35] tim-salabim commented on #214
Thanks @oscarperpinan for the clarification. I guess, we should take the same road as `rasterVis` for this one.
I will implement as soon as `mapview` is updated on CRAN. Currently working on splitting `mapview` into smaller pieces, and I'd like to get this done before I resume work on `mapview` itself. CRAN seems particularly slow for new packages at the moment, so this may take a while...

[2019-03-03 19:39] tim-salabim commented on #206
CRAN seems very slow at the moment, especially for new packages. I've so far submitted `leafsync` (about two weeks ago) and `slideview` (just now), `cubeview` to follow next. `leafsync` is still in `incoming/newbies` after one round of feedback. So this whole process may be rather time consuming.

[2019-03-04 06:44] mtennekes commented on #206
Thanks for letting me know. Awesome work, Tim!

[2019-03-04 07:00] tim-salabim commented on #206
I'll ping you as soon as I get CRAN confirmation.

[2019-03-05 20:30] maxlavoie opened #215 "slideView multiple points"
HI,
I recreated successfully your example with slideView found here https://www.rdocumentation.org/packages/mapview/versions/2.6.3/topics/slideView. My question is: Is it possible to use slideView on several points (i.e., one slideView per point). Like we do with images. I tried using multiple slideView or frameWidget but no luck. I like having two images per point. Sorry if this is the wrong plac

[2019-03-06 08:47] tim-salabim commented on #215
Can you provide a reproducible example for me? I am struggling to understand what you are trying to do.

[2019-03-06 10:44] maxlavoie commented on #215
I am sorry for taking your time. By building the reproducible example, I did things differently, and I think I made it work. Here is what I was trying to do:

[2019-03-06 11:48] tim-salabim commented on #215
cool, yes that seems to work!

[2019-03-06 13:16] maxlavoie commented on #215
A quick question. In a shiny app, where should I put the images for the slideview? I tried inside the main app folder or in a www folder but the images are not displayed (Not found is written in the popup). Or any idea why the images would not be displayed (the map and the points are there) in a shiny app. thanks!

[2019-03-06 13:57] tim-salabim commented on #215
Yeah this is a reoccuring issue. Outside of shiny they need to be one level higher than the `index.html`. I assume that this would also be the case for a shiny app but I have never tried it.

[2019-03-06 14:26] maxlavoie commented on #215
Here what I have done. server.R file inside the app folder (App > server.R). And the index.html (App > www > index.html) file is located in a www folder. And the images are in the app folder. Still, nothing showing up in the popup. When you say it is a reoccurring issue, do you have other examples where I could look into? Alternatively, I could use the same thing you used for your post (https://en

[2019-03-06 15:43] tim-salabim commented on #215
Again, a reproducible shiny app would be helpful.

[2019-03-06 16:30] maxlavoie commented on #215
OK, here is one:

[2019-03-06 20:36] pdeffebach commented on #194
I also got this error. I wouldn't mind some brute-force method of just skipping these characters to be honest.

[2019-03-07 19:28] tim-salabim commented on #206
leafsync on CRAN ( @mtennekes ):
https://cran.r-project.org/web/packages/leafsync/index.html

slideview on CRAN:
https://cran.r-project.org/web/packages/slideview/index.html

[2019-03-08 12:10] #211 closed

[2019-03-08 12:11] #213 closed

[2019-03-08 12:13] tim-salabim commented on #194
@pdeffebach can you provide a reproducible example?

[2019-03-08 16:22] pdeffebach commented on #194
Sure. I don't trust my abilities to make a shapefile on my own for this. Can I email you the shapfile I've been using for this?

[2019-03-08 16:28] tim-salabim commented on #194
Yes, E-Mail is fine

[2019-03-08 19:29] pdeffebach commented on #194
I apologize but I can't find an email anywhere. Does r-spatial have an email for this kind of thing?

[2019-03-08 19:46] tim-salabim commented on #194
The email of the maintainer is available form the DESCRIPTION file https://github.com/r-spatial/mapview/blob/develop/DESCRIPTION (the CRAN page also shows it).

[2019-03-08 20:17] pdeffebach commented on #194
Thank you!  I sent the email. Here is my `sessionInfo()`

[code]

[2019-03-09 12:21] tim-salabim commented on #194
Ok, thanks for sending the data via mail. This is a tricky issue as we need to know the encoding in which the data was saved. The following dirty piece of code works on my (linux) machine, but I simply guessed that the encoding used to write the shapefile was 'latin1'. Therefore, I don't think it is feasible to try and do something like this in mapview...

[code]

[2019-03-11 14:28] mosscoder opened #216 "mapshot does not render legend colors"
I'd like to add a legend to a leaflet map and use the mapshot function to make a static map. However, the colors associated with each label in the legend are not rendered:

[code]

[2019-03-11 20:29] tim-salabim commented on #216
Hi, this is a long standing problem of `leaflet`/`viridis`. For me it also happens in the interactive map.

The problem is that by default `viridis` creates hex color values including alpha which `leaflet` legends don't like. For that reason, internally in `mapview` we use a function to get rid of the alpha part of the hex code. This does work for me:

[code]
If this also works for you, I am afrai

[2019-03-12 21:28] mosscoder commented on #216
Excellent, that works for me! Thank you.

[2019-03-12 21:28] #216 closed

[2019-03-13 18:07] pdeffebach commented on #194
Thank you! This was enormously helpful. I have added this snippet, with attribution, to my importing code as with an optional argument.

[2019-03-17 10:44] tim-salabim commented on #206
cubeview on CRAN:
https://cran.r-project.org/web/packages/cubeview/index.html

[2019-03-18 12:51] tim-salabim commented on #194
Can we close this then?

[2019-03-18 13:12] pdeffebach commented on #194
Yeah we should close this, with the recommendation being "Mapview needs UTF-8 and there are a variety of methods to getting your data into the right encoding for it to work"

[2019-03-18 13:20] #194 closed

[2019-03-19 03:34] rkoehnen opened #217 "Error installing mapview - incomplete zip"
Hello,

I get this on download and install of mapview-
trying URL 'http://cran.us.r-project.org/bin/windows/contrib/3.5/mapview_2.6.3.zip'
Content type 'application/zip' length 3253212 bytes (3.1 MB)
downloaded 968 KB

Warning in install.packages :
  downloaded length 991232 != reported length 3253212

On install it fails-
Warning in install.packages :
  cannot open compressed file 'mapview/DESCRI

[2019-03-25 21:07] tim-salabim commented on #206
cubeview on CRAN:
https://cran.r-project.org/web/packages/plainview/index.html

[2019-03-28 09:31] maxlavoie opened #218 "Using popupIframe with mp4"
In this example:

[code]

`mapview(pnt, popup = mapview:::popupIframe("https://www.youtube.com/embed/iApz08Bh53w?autoplay=1", width = 300, height = 225))`

Would it be possible to replace the youtube video with a mp4? I actually tried it but it did not workout. `popupImage` does not take very well a mp4 extension. It's part of Rmarkdown document. It is working very well with several images, but wo

[2019-03-28 10:55] tim-salabim commented on #218
Hi, thanks for the suggestion. I am currently in the process of breaking mapview up into several smaller, more maintainable packages. Next on my list is `leafpop` providing all the popup functions currently contained in mapview. Once we have that on CRAN, I'll have a look into non-online video sources. Please remind me about this issue in case I should forget.

[2019-03-28 11:08] tim-salabim commented on #218
You can follow progress here #206

[2019-04-02 03:02] emochoa opened #219 "Legend colors do not match map colors"
Greetings.

There are several situations in which the mapview legend shows colors that do not match those used in the map.  Here is an example of one such situation, using a discrete legend:

[code]

![image](https://user-images.githubusercontent.com/22716026/55372963-34a68a00-54c9-11e9-8202-68fd81932e6b.png)

Ordinarily, I would make the legend in leaflet, but I am hoping to have two separate cho

[2019-04-02 10:45] lucabirigazzi opened #220 "multiple images on the same popup"
Dear developers,

thank you very much for this great package,
I have visited a set of locations and in each location I have taken four photos (N, E, W, S).
I would like to show these four images (jpg) in a popup for each location.
I see that I can already show two images for each point using the slideView function.
But I am not sure how to have this done when one has three or more images.
Are you

[2019-04-02 11:17] tim-salabim commented on #220
Just to clarify, are you asking how to

1. show multiple images in a popup?
2. show more than 2 images in slideview?

[2019-04-02 11:20] lucabirigazzi commented on #220
Hi,
show multiple image in a popup

[2019-04-02 11:50] tim-salabim commented on #220
Ok, I think the easiest would be to use e.g. the [magick package](https://github.com/ropensci/magick) to create a collage of your images and show that in the popup.

Other than that we would need to introduce a proper js library to flick through multiple images. I am open to that idea, but only after I have separated out the popup functions from mapview and put them in their own package (soon to h

[2019-04-02 12:56] lucabirigazzi commented on #220
Thank you very much Tim,
Hence, I will go for the magic package option.
and will wait for the release of the new package...

[2019-04-02 16:28] #220 closed

[2019-04-02 16:36] lucabirigazzi opened #221 "[FEATURE REQUEST]: additional marker icons?"
Can one choose a marker different from the circle?

[2019-04-02 17:11] tim-salabim commented on #221
Are you wanting different symbols (e.g. triangles, squares, etc.) or classical markers (as in leaflet::addMarkers())?

[2019-04-02 20:06] lucabirigazzi commented on #221
different symbols (triangles, squares, cross, etc..), such as in here
http://www.sthda.com/english/wiki/ggplot2-point-shapes

[2019-04-03 06:19] tim-salabim commented on #221
Is this helpful?

https://stackoverflow.com/questions/41372139/using-diamond-triangle-and-star-shapes-in-r-leaflet/41379393#41379393

[2019-04-07 18:19] tim-salabim commented on #206
leafpop on cran:

https://cran.r-project.org/web/packages/leafpop/index.html

[2019-04-10 13:03] Robinlovelace opened #222 "Support tilefolders"
One question: if you have pre-built tiles, would be possible to point mapview to the folder and use that to visualise large raster datasets? Could be useful!

Example tile pyramid: https://github.com/npct/pct-lsoa-vis/releases/download/0.0.2/bicycle-tiles.zip there are other (bigger ones) here, representing cyclable routes to work across England and Wales: https://github.com/npct/pct-lsoa-vis/rele

[2019-04-12 09:04] tim-salabim commented on #222
A first implementation... Please test with a few more tile collections (ideally of different locations and different zoom levels). Cheers!

[2019-04-12 23:36] JoshOBrien opened #223 "Is addLargeFeatures functionality gone?"
Apparently, `addLargeFeatures` et al. were removed in 47cec7b7cb649d1d224b5cff7d1212b6d87e0bd8. If they are truly gone (rather than moved into internals or onto another development branch, etc.), it might be worth making note of that change in the `README`, `README.md`, and `NEWS.md` files as well as deleting the the mention of `addLargeFeatures` from https://r-spatial.github.io/mapview/index.html

[2019-04-13 08:22] Robinlovelace commented on #222
Reprex suggests this works a treat, great work sir (the ouput of `gdal2tile.py` is strange for this input dataset, nothing to do with `mapview`):

[code]

![](https://i.imgur.com/mg8U8RH.png)

<sup>Created on 2019-04-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-13 08:59] tim-salabim commented on #222
The issue I am most worried about is the inference of the proper calculation of the bounding box (used to set the initial view and homebutton view) from the tile structure. For this I have stolen @MilesMcBain 's implementation in [slippymath](https://github.com/MilesMcBain/slippymath/blob/master/R/slippymath.R#L69-L79) which I think is for the XYZ standard. `gdal2tiles` is TMS standard and hence n

[2019-04-13 09:25] tim-salabim commented on #223
Thanks for spotting this! The README has been updated to reflect the removal. The online manual will be auto-updated after the next successful Travis-build. Regarding the NEWS, it's there, but a little hidden I admit:

https://github.com/r-spatial/mapview/blob/develop/NEWS#L84

[2019-04-13 09:25] #223 closed

[2019-04-14 18:44] Robinlovelace commented on #222
I think it would be possible to extract that info from the html files generated by `gdal` itself, assuming the they exist. If not, the approximation is fine and the user can always specify the centre and zoom manually so I'd say no big deal.

[2019-04-23 08:10] mdsumner commented on #27
The best for now is `rgl::rglwidget` which catches the current scene to file.

[2019-04-23 08:10] #27 closed

[2019-04-24 17:24] tim-salabim commented on #206
leafem re-submitted to CRAN after minor change request.

[2019-04-24 18:28] tim-salabim commented on #222
heads-up @Robinlovelace I've decided to include the base functionality for this in  [leafem::addTileFolder](https://github.com/r-spatial/leafem/blob/master/R/file.R#L157). From a `mapview` use perspective nothing should change, but people can now also use this without `mapview` on their own `leaflet` maps. Obviously, `mapview` will take care of setting appropriate options and views for you, which

[2019-04-25 05:10] Robinlovelace commented on #222
Great work @tim-salabim, will install `leafem` and get going with that: sensible splitting-out of core functionality.

[2019-04-25 05:10] #222 closed

[2019-05-11 22:11] tim-salabim commented on #206
Just pushed a major update of mapview reflecting all the above mentioned breakouts. Hopefully, this will take care of most things.

[2019-05-20 07:58] ggeniaux opened #224 "Removing geometry description in popuptable"
Hello,
is there a way to remove the description of the geometry in popuptable while keeping all the other columns ?

[code]

Thanks.

[2019-05-20 17:02] tim-salabim commented on #224
Moved to https://github.com/r-spatial/leafpop/issues/2

[2019-05-20 19:49] tim-salabim commented on #224
Hi , please note that `popupTable` has been moved to its own package [here](https://github.com/r-spatial/leafpop). Therefore I have migrated the issue there. It should be fixed now, but you'd need to upgrade your packges to use the newest version of mapview and have the github version of `leafpop` installed.

[2019-05-20 19:49] #224 closed

[2019-05-21 07:18] ggeniaux commented on #219
Same type of issues, when using "at" with quantile, legend colors don't match maps colors.

[code]

![Capture d’écran 2019-05-21 à 09 15 19](https://user-images.githubusercontent.com/6615871/58075868-1136bc00-7ba9-11e9-8f84-adf0abeed1ed.png)

Any suggestions to avoid this issue are welcome.

[2019-05-27 05:55] edzer opened #225 "tic.R & travis"
In case travis fails on the next build, see here: https://github.com/r-spatial/sf/commit/186cf57ff17effd69273b5c64c662d76d5b4cb2e

[2019-05-27 17:45] #217 closed

[2019-05-29 18:04] tim-salabim commented on #219
Sorry for the long silence. When we don't use `colorBin` but `colorRampPalette` then things should be fine.

[code]
gives

![Screenshot from 2019-05-29 20-02-38](https://user-images.githubusercontent.com/2826432/58580179-cbcf5a00-824c-11e9-8467-12285266d5f2.png)

@ggeniaux can you please try this also with your example (which I cannot reproduce)?

[2019-05-29 18:06] tim-salabim commented on #219
actually, @ggeniaux your example will work propably just fine when you use `col.regions = pal` instead of `col.regions = pal(20)`

[2019-05-29 18:08] ggeniaux commented on #219
Thanks a lot, Tim. I will test both as soon as possible.
Ghislain.

actually, @ggeniaux<https://github.com/ggeniaux> your example will work propably just fine when you use col.regions = pal instead of col.regions = pal(20)

Le 29 mai 2019 à 20:04, tim-salabim <notifications@github.com<mailto:notifications@github.com>> a écrit :

Sorry for the long silence. When we don't use colorBin but colorRampP

[2019-06-01 20:36] emochoa commented on #219
@tim-salabim, thank you so much.  I will use this in future maps.

One thing I noticed with `colorRampPalette` is that unlike a palette created with `colorBin`, it can't be passed to a leaflet legend.  If I recall correctly, the only reason I've needed for this is to reverse a legend, but we can do that by calling `rev` on the argument being passed to the `at` parameter:

[code]
![image](https://u

[2019-06-03 06:56] tim-salabim commented on #219
Closing here, feel free to reopen if anything unexpected comes up

[2019-06-03 06:56] #219 closed

[2019-06-05 21:04] Aquinonesgis opened #226 "What is happening with the 'mapview' package?"
I don't know what is happening to the viewer on the "mapview" package in R. Every time I display a map with mapview(), instead of showing the map on the viewer window in RStudio, its opening the map on a new window on the internet browser. I've updated the package to the new version (2.7) but I keep having this issue. Can someone reply as soon as possible? Thanks!

[2019-06-06 06:33] tim-salabim commented on #226
`mapview` has an argument `viewer.suppress`. Set this to `FALSE` to prevent from opening in the browser. We're trying to be smart here so that whenever the data is qúite large, we're switching to the browser as the viewer can sometimes cause RStudio to crash (at least that was an issue).

[2019-06-06 06:33] #226 closed

[2019-06-06 06:35] Aquinonesgis commented on #226
Thank you so much! I will try that!

[2019-06-07 15:23] meteosimon commented on #219
Hi there,
I was trying to mapview a sf object, just like this (found [here](https://r-spatial.github.io/sf/articles/sf5.html)):

    library(sf)
    library(mapview)
    demo(nc, ask = FALSE, echo = FALSE)
    plot(nc["BIR74"])
    mapview(nc["BIR74"], col.regions = sf.colors(10))
    mapview(nc["BIR74"], col.regions = sf.colors(100))
    mapview(nc["BIR74"], col.regions = sf.colors(101))
    mapv

[2019-06-07 21:17] Aquinonesgis opened #227 "Problems with plotting Tracks objects into 'mapview'"
Hi,
I want to plot trajectories in 'mapview' and I'm generating trajectories using the 'trajectories' package in R. I did the following:
[code]
To plot the trajectories in 'mapview' I have to use `trs0 = generalize(trs, distance = 0)`

But when I use `trs0 = generalize(trs, distance = 0)`, I get the following error:
`Error in validityMethod(as(object, superClass)) :
  tz1.set == tz2.set is not TRU

[2019-06-07 21:45] Aquinonesgis commented on #227
Issue has been solved.

[2019-06-07 21:45] #227 closed

[2019-07-01 18:42] miriza76 commented on #189
Any solutions to this?

[2019-07-01 18:57] tim-salabim commented on #189
No, not yet. It is not my highest priority right now. I would be happy to review a PR on this, but likely won't have time to address this myself for a while.

[2019-07-10 08:44] RussellGrayxd opened #231 "Mapview not working"
I have code that I've used with the mapview() function hundreds of times in the past. However, upon upgrading to R 3.6.0 and reinstalling the mapview package, it seems to have lost all functionality. I've tried all of my other R code files using the package and it seems to be ubiquitous with them all.

The error I get is: Error in browseURL(x, ...) : 'url' must be a non-empty character string

Not

[2019-07-10 09:27] tim-salabim commented on #231
Can you please provide your `sessionInfo()` so we can narrow things down a little?

[2019-07-10 10:04] edzer commented on #231
I have no problems with running mapview on R 3.6.0 (ubuntu).

[2019-07-10 11:16] RussellGrayxd commented on #231
Here is my code, it should be reproducible in its entirety:

 #Pull records on from GBIF again, to make sure there are no errors running the modelfam1 <- name_suggest(q = "Malayemys", rank = "genus")occ_search(taxonKey = fam1$key, return = "meta")$count#this pulls your data from GBIF; change the data limit to whatever you think is appropriatedat <- occ_search(taxonKey = fam1$key,return = "data", l

[2019-07-10 11:17] RussellGrayxd commented on #231
Sorry, I rearranged some code by accident, here is the proper code:
library(rgbif)library(sp)library(raster)library(mapview)

#Pull records on from GBIF again, to make sure there are no errors running the modelfam1 <- name_suggest(q = "Malayemys", rank = "genus")occ_search(taxonKey = fam1$key, return = "meta")$count#this pulls your data from GBIF; change the data limit to whatever you think is app

[2019-07-10 12:12] tim-salabim commented on #231
test

[code]

[2019-07-10 12:25] tim-salabim commented on #231
Sorry, I rearranged some code by accident, here is the proper code:

[code]

[2019-07-10 12:27] tim-salabim commented on #231
@RussellGrayxd I have no problem running this. The map is shown without any issue.
My `sessionInfo`:

[code]

[2019-07-10 13:11] RussellGrayxd commented on #231
Tried, didn't work. 
    On Wednesday, July 10, 2019, 07:27:32 p.m. GMT+7, tim-salabim <notifications@github.com> wrote:

@RussellGrayxd I have no problem running this. The map is shown without any issue.
My sessionInfo:

R version 3.6.0 (2019-04-26)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Pop!_OS 18.04 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3

[2019-07-10 13:23] RussellGrayxd commented on #231
Restarted my R and changed directories, now its working. Not sure what the issue is now.     On Wednesday, July 10, 2019, 08:11:41 p.m. GMT+7, Russell Gray <russell_graypt@yahoo.com> wrote:

  Tried, didn't work. 
    On Wednesday, July 10, 2019, 07:27:32 p.m. GMT+7, tim-salabim <notifications@github.com> wrote:

@RussellGrayxd I have no problem running this. The map is shown without any issue.
My

[2019-07-10 14:09] tim-salabim commented on #231
in case you figure out what happened, I'd be interested to hear. Closing here, but feel free to reopen if necessary.

[2019-07-10 14:09] #231 closed

[2019-07-13 15:45] drkamarul opened #232 "webshot.js returned failure value after running mapview() on RStudio Cloud"
Hi,

I posted this question on RStudio Community <https://community.rstudio.com/t/unable-to-knit-to-pdf-or-word-with-error-message-after-running-mapview-on-rstudio-cloud/35102?u=kim4597> but has not received any solution. My question is: my project includes a `mapview()` function from **mapview** package.

The project (contains the Rmarkdown and other files) can be accessed here https://rstudio.cl

[2019-07-20 00:54] dlebauer opened #234 "viewRGB has different color than raster::plotRGB"
With the attached file [test.tif.zip](https://github.com/r-spatial/mapview/files/3413104/test.tif.zip), if I download and unzip it and

[code]

If I plot it with raster::plotRGB it appears to have the correct colors

[code]

_note_
* this is a very tall, low res stitched image of a mature sorghum field so it should be green
* since it is tall, I am only presenting a the top ~10% of the attached im

[2019-07-20 08:50] tim-salabim commented on #234
In `viewRGB` the images are streched between 0.02 and 0.98 quantiles by default. If you set this to `NULL` the result should be similar to `plotRGB`

[code]

[2019-07-20 08:50] #234 closed

[2019-07-20 22:37] dlebauer commented on #234
Thanks!

[2019-07-27 22:01] #166 closed

[2019-08-06 09:17] przell opened #235 "feature request: click through timeseries interactively by arrows"
Dear Tim,
I'm currently working on raster image timeseries (e.g, NDVI). For quality assessment and validation it would be great to have the possibility to do the following:
give list of rasters or or stack to mapview
get the option to have arrows on both sides of the map to click back and forth through the timeseries.

[Here's](https://stackoverflow.com/questions/49734639/producing-a-moving-time-s

[2019-08-06 09:28] tim-salabim commented on #235
Have you tried `cubeview::cubeview()`? No map, but you can flick through the layers using up/down, left/right, pageup/pagedown keys

[2019-08-07 13:54] przell commented on #235
I've tried it now. Really cool tool! Solved my current issue. Worked out of the box. Thanks.
Still for presentations, meetings etc. the map background would be a nice feature. ;)
Feel free to close if the feature has no priority atm.
Thanks,
Peter

[2019-08-15 19:46] MarcusMorrisey commented on #45
I just wanted to add that I also encountered this error when attempting to save to a networked drive and it was resolved by saving locally. Not a solution but a workaround.

[2019-08-17 02:02] RussellGrayxd opened #236 "Mapview 'leaflet' layers not working"
I've had this problem in the past and it randomly resolved itself, but this time its been days and nothing has worked. I've updated R to v 3.6.1.; I've reinstalled mapview package, etc.

So While I made a simple map with geompoints - lets call it "mapview(sp)" the map worked absolutely fine. Then I continued writing unrelated code, and went back to open the map, and it ran the error: "Error in bro

[2019-09-04 09:25] edzer opened #237 "mapview(stars_image) gives an error"
Reprex:
[code]
What works is:
[code]

[2019-09-07 18:08] tim-salabim commented on #237
This now works also with `legend = TRUE` (the default). Note, currently only the first band gets displayed as we don't handle stars "bricks/stacks" yet. What you can do manually as a workaround is:

[code]
It's ugly, I know, but for the time being it's at least working :-/

[2019-09-07 18:11] tim-salabim commented on #236
Sorry for the late reply. I cannot help you unless you provide a reproducible example.
Have you checked that the "geompoints" have a proper CRS (i.e. not NA)?

[2019-09-07 18:15] tim-salabim commented on #235
@przell I just had a thought that it should be possible to mimic what happens when you use the layer switcher in the layers control and bind that to a keyboard stroke, say 'Ctrl + arrow up'. This would make it behave similar to `cubeview`. Would that be acceptable? No promises as to when I can get to implementing this though :-)

[2019-09-07 18:19] tim-salabim commented on #232
I have never worked with RStudio cloud, but my guess is that if you acll the `@map` slot of mapview as in `mapview(x)@map` to render your map everything should be fine.

[2019-09-07 18:20] #225 closed

[2019-09-07 18:20] tim-salabim commented on #221
Can we close this?

[2019-09-09 08:01] przell commented on #235
Hi Tim,
thanks for the follow up.
For my special use case the implementation of the arrows to navigate would be preferable. Just to give the users the same feel of the usual web image navigators. It was intended for the use in dashboards.
But anyhow, this has no priority in any way for me and I can't estimate if this is even relevant for anybody else in the community.
So personally I don't have a

[2019-09-09 08:09] tim-salabim commented on #235
Ok, I'm closing this here then. Feel free to reopen or remind me if necessary

[2019-09-09 08:09] #235 closed

[2019-09-18 14:51] drkamarul commented on #232
I will give it a shot

[2019-09-19 17:59] tim-salabim commented on #237
@edzer if we're implementing a method for multiband stars objects, how should we deal with many bands/layers? If we render each individually, it will take a long time! Should we limit the number of bands to say 6 or so and throw a warning (maybe alluding to cubeview)? Any other ideas?

[2019-09-19 19:23] edzer commented on #237
I agree that large numbers do not make sense -- you'd want a slider to browse through them probably; `sf::plot.sf` also stops at 9 maps or so and gives a warning message how to plot all of them.

There is one special case: (how) can we do RGB composites of sets of three bands?

[2019-09-20 07:07] tim-salabim commented on #237
We can already do

[code]
So far, it's up to the user to chain these together. Did you have in mind to somehow combine this into one call?

Maybe

[code]
could be a solution?

[2019-09-20 07:22] edzer commented on #237
Oh, cool, so that is already there - thanks!

[2019-09-21 08:24] tim-salabim commented on #237
@edzer can you think of any student of yours that would be interested in trying to tackle to provide a JavaScript solution for adding a slider to flick through layers/bands?

[2019-09-23 16:27] tim-salabim opened #238 "refactor options etc"
In order to make mapview a bit nicer to use and more versatile to control on a per-session basis, we're going to refactor the `mapviewOptions` so they include all relevant arguments passable to `mapview`. At the same time we will only leave the most commonly used arguments in the function definition and pass everything else via `...`. This obviously needs some adjustments, namely:

* [ ] add all p

[2019-09-26 15:18] beausoleilmo opened #239 "Points of different shapes in mapview function"
I would be interesting to have a way to colour the points, but also set the shape of each point. I have a case where it would help a lot to colour the points with a palette, but to shape them differently depending on another variable. Could this be added?

Quick note: is there a way to add a ggplot graph to mapview?

![Screen Shot 2019-09-26 at 11 14 16](https://user-images.githubusercontent.com/1

[2019-09-26 16:17] tim-salabim commented on #239
There's a manual solution for your first question [here](https://stackoverflow.com/a/41379393/2555983). With manual I mean that you'd need to create your map with leaflet rather than mapview. HTH.

Re ggplot, this is not possible currently. Though I think it could be done. Not sure how much effort this would be and it's not high on my priority list. If it does not require much effort though, I'd b

[2019-10-22 10:05] hewag1975 opened #240 "weird legend when using color values from a column"
Hi Tim,
not sure if this is an issue or the bug is in front of the computer ;-)
I want to map factor levels to colors in mapview. As I am frequently mapping only spatial subsets of my dataset where some factor levels are not present I wanted to make sure to display the correct colors by simply adding a col to the dataset with the color value in it. Whereas mapping on the map works fine, the legend

[2019-10-22 14:57] sdlapoint opened #241 "Feature requests: add grid/graticule, cex options, and additional shape options"
Hello and thank you for a useful and straightforward package.

I'm an amateur R user trying to make publication quality maps showing spatial data. I have had good luck so far with mapview() and mapshot(). My target is a static map, something saved as a .png that can be a figure in a manuscript.

My questions/requests:
1. I have a continuous variable that I would like to map via cex. These data are

[2019-10-22 17:12] tim-salabim commented on #241
Hi @sdlapoint
thanks for those requests. For publication-quality static maps I recommend you have a look at the [tmap package](https://github.com/mtennekes/tmap). It can produce much nicer static maps than you will ever be able to produce by taking a screenshot of a mapview map. It has a nice [vignette](https://cran.r-project.org/web/packages/tmap/vignettes/tmap-getstarted.html) to get you started

[2019-10-22 19:33] tim-salabim commented on #240
ok, so far I've been able to tackle your first example... the second still needs work

[2019-10-25 10:35] tim-salabim commented on #241
@sdlapoint can we close this?

[2019-10-25 14:15] sdlapoint commented on #241
Apologies, yes, this can be closed.

I'm exploring tmap with some success. Looking forward to seeing shape options in mapview().

[2019-10-25 14:15] #241 closed

[2019-10-27 18:16] Pindar777 opened #242 "mapview options for homebuttons"
mapview adds automaticaaly homebuttons (zoom-buttons) for included layers. I'd like to change the standard position of them as it is possible in this function https://www.rdocumentation.org/packages/leafem/versions/0.0.1/topics/addHomeButton without the necessity of specifying the extents (which up until now I did not manage either...).
Is there already a way to do that?

[2019-10-29 11:38] OscarJanin opened #243 "Display popupGraph via map_marker_click doesn't work"
I would like to open a popup with a unique plot for each of my marker in it on a map_marker_click using r leaflet and the leafpop library.

For each point when the user click on them the plot to display is computed.

Below is a reproductible code but it doesn't return any error.

Is it possible to run addPopupGraph() inside a map_marker_click event?

[code]

[2019-11-01 02:16] inder-tg opened #245 "Can I use color palettes defined by other packages (e.g. in RColorBrewer) with mapviewPalette?"
I would like to utilize color palettes that have been defined in other packages, e.g. the "Reds" palette of RColorBrewer, in combination with mapviewPalette. In my mind this will produce maps with continuous colors similar to those that can be defined through colorNumeric and then used in leaflet but with mapview's functionality.

I think that one way to get close to what I want is via viridis, bu

[2019-11-04 17:12] JimColl commented on #192
I just encountered this error and thought I would bump this with a non working example.  Is there a slightly easier way to make this work?

[code]

[2019-11-04 17:19] floswald commented on #37
should add that to somewhere in the docs! this is great

[2019-11-13 18:51] FelipeCarrillo opened #246 "labels for Esri.WorldImagery"
Hi;
This is not really an issue but I am just wondering how to add labels to a map.types=Esri.WorldImagery and how to control zooming in or out at the time of rendering the map. I have looked all over the web about the label option for this type of map and could not find anything.
For example:
[code]

[2019-11-13 19:34] tim-salabim commented on #246
If you install [leafem](https://github.com/r-spatial/leafem) from github with

[code]

you can do

[code]

![Screenshot from 2019-11-13 20-33-23](https://user-images.githubusercontent.com/2826432/68797439-e3609a80-0654-11ea-81d7-bb0c9d6e5dfa.png)

Is that what you are looking for?

[2019-11-13 19:41] FelipeCarrillo commented on #246
Yes, this is great thanks. Is there s way to custom zoom with code? Or pushing the  + - signs is tje only way to zoom in/out?

Sent from Yahoo Mail on Android

  On Wed, Nov 13, 2019 at 11:34 AM, tim-salabim<notifications@github.com> wrote:
If you install leafem from github with
remotes::install_github("r-spatial/leafem")
you can do
mapview(locations, map.types = "Esri.WorldImagery")@map %>%
  lea

[2019-11-13 19:44] tim-salabim commented on #246
you can use `leaflet::setView` for custom zoom definition at render time, or this little snippet that let's you adjust the zoom level after the map has rendered:

https://gist.github.com/tim-salabim/7c4c5a98335f2b41f8a6b26e96825c8f#adjust-zoom-level

[2019-11-13 19:54] FelipeCarrillo commented on #246
This is really helpful...thanks for the great work on these packages. 

Sent from Yahoo Mail on Android

  On Wed, Nov 13, 2019 at 11:44 AM, tim-salabim<notifications@github.com> wrote:
you can use leaflet::setView for custom zoom definition at render time, or this little snippet that let's you adjust the zoom level after the map has rendered:

https://gist.github.com/tim-salabim/7c4c5a98335f2b41f

[2019-11-13 20:15] tim-salabim commented on #246
You're welcome! If this resolved your issue, please close. Thanks

[2019-11-13 20:34] #246 closed

[2019-11-22 00:45] kellysmeehan opened #247 "Add multiple maps within list together"
I am trying to create one master map by adding together multiple ndvi maps. Is there a way to add together mapview objects stored within a list? In my code below, I'm trying to add together all of the maps within ndvi_maps.

My code is:

    vector_map <- mapview::mapview(fallowed_reprojected, layer.name = 'Fallowed Fields', zcol = 'FIELD_ID', legend = FALSE, color = 'black', alpha.regions = 0, lw

[2019-11-23 01:51] tim-salabim commented on #242
This is currently not possible. We could add this as a option so it can be controlled via `mapviewOptions`. Would this be acceptable. I am more than hesitant to add more arguments to `mapview()` as I feel it has too many as it is.

[2019-11-23 01:53] tim-salabim commented on #245
You can use any palette function you want. You can create them with `colorRampPalette`. I might be able to help more if you provided an example highlighting what you want to achieve.

[2019-11-23 01:57] tim-salabim commented on #247
Could you please provide a reproducible example so I can understand what it is you want to do?

[2019-11-24 01:33] tim-salabim commented on #243
See https://github.com/r-spatial/leafpop/issues/11

[2019-11-24 01:33] #243 closed

[2019-11-25 00:04] kellysmeehan commented on #247
@tim-salabim, thanks very much for taking a look. Here's an example using the kiliNDVI (I didn't realize before that it had 23 layers; i.e. time series NDVI). I want to make an interactive map where the user can toggle on and off each of the 23 layers. Ideally, legends would appear once a layer is selected.

I tried some hacky code, that creates 23 layers, but nothing seems to change in the map wh

[2019-11-25 00:17] tim-salabim commented on #247
It's not hacky at all, in fact it is pretty much what `mapview` does under the hood when you supply a raster stack. See https://github.com/r-spatial/mapview/blob/develop/R/raster.R#L225-L260

So, if you can stack your individual layers, `mapview(stack)` will work, if you can't (because you have different extents or resolutions) the above for loop is the way forward.

[code]
should do what you want

[2019-11-26 17:56] kellysmeehan commented on #247
@tim-salabim, thank you so much. Just using the stack as you suggested in mapview( ) works great. I just renamed the stack's layer names beforehand instead of using a for loop as in:

    library(plainview)
    library(raster)

    kili_data <- system.file("extdata", "kiliNDVI.tif", package = "mapview")
    kiliNDVI <- stack(kili_data)

    existing_layer_names <- names(kiliNDVI)

    replace_name

[2019-11-26 17:58] tim-salabim commented on #247
Nice, so I'm closing this here. Feel free to reopen if there are still issues relating to this.

[2019-11-26 17:58] #247 closed

[2019-11-26 19:45] kellysmeehan opened #248 "flipping mapview layer viewing order"
I was wondering if it's possible to switch to viewing order of layers created from mapView(rasterStack)? If I understand correctly, it appears that the viewing dominant layer is the bottom most layer in the layer label list. For example, with:

    library(plainview)
    library(raster)

    kili_data <- system.file("extdata", "kiliNDVI.tif", package = "mapview")
    kiliNDVI <- stack(kili_data)

[2019-11-27 02:34] SimonCoulombe opened #249 "mapshot() to png fails with "TypeError: Attempting to change the setter of an unconfigurable property""
Hi everyone,
I can't run the example from the manual.  It creates an empty map.png.  and returns

[code]
here is map.png:
![map](https://user-images.githubusercontent.com/23444900/69688692-c6848800-1094-11ea-9a8e-939fffb7c152.png)

Any idea?
Full code with version and sessionInfo() below
[code]

[2019-11-27 02:57] tim-salabim commented on #249
Did this happen after you upgraded to leaflet_2.0.3?

[2019-11-29 19:08] inder-tg commented on #245
Hi Tim, I figured it out, thanks, the results can be seen at https://conabio.shinyapps.io/viSTA/
Cheers!

[2019-11-29 19:46] tim-salabim commented on #245
Nice!

[2019-11-29 19:46] #245 closed

[2019-11-30 19:09] SimonCoulombe commented on #249
Thanks for replying!

This is the first time I try mapshot(), so I don't have any point of reference.

[2019-12-09 23:30] FelipeCarrillo opened #250 "multiple csv files on same leaflet map"
Hi;
I have multiple csv files that I need to visualize on the same map. Can someone point out to an example on how to achieve that? I don't have a reproducible example at the moment but I could extract a few records from my csv files if necessary.

[2019-12-10 06:48] tim-salabim commented on #250
Without seeing what they look like, I can't help. I usually advise to just throw stuff at mapview and see what happens. So what happens when you do:

[code]
?

[2019-12-10 06:52] FelipeCarrillo commented on #250
Will try that. Otherwise, will post 4 small csv files with lat and lon coordinates.

Sent from Yahoo Mail on Android

  On Mon, Dec 9, 2019 at 10:48 PM, tim-salabim<notifications@github.com> wrote:
Without seeing what they look like, I can't help. I usually advise to just throw stuff at mapview and see what happens. So what happens when you do:
mapview("/path/to/csv.csv")
?

—
You are receiving th

[2019-12-10 18:29] #250 closed

[2019-12-12 21:10] kbvernon opened #251 "Piping into leaflet::hideGroup"
If I have two rasters, r1 and r2, the following code throws up an error re: leaflet not handling the mapview S4 class:

    mapview(r1, layer.name = "r1") +
      mapview(r2, layer.name = "r2")  %>%
      leaflet::hideGroup(group = "r2")

It would be nice, however, if this functionality were available, instead of having to use `@map` to push the leaflet map through the pipe, especially as this see

[2019-12-12 21:24] tim-salabim commented on #251
Thanks for bringing this up. This is a rather long standing issue. In retrospect, the design choice to use S4 class for mapview wasn't the smartest, but it is what it is at the moment. I don't think there is an easy way to solve this without changing either mapview or leaflet substantially.

Regarding your second comment, how would you feel about submitting a PR that makes it clear that `layer.nam

[2019-12-13 21:38] kbvernon commented on #251
Hi, Tim. Thanks for your reply. I will submit a PR for this soon. (May take a minute as I'm new to Github, so I'm still learning my way around.)

[2019-12-14 12:01] #236 closed

[2019-12-14 12:05] tim-salabim commented on #249
Sorry, but I cannot reproduce this. Works fine for me...

[2019-12-14 18:04] SimonCoulombe commented on #249
No worries  - big thanks for having a look!
I tried rebooting just in case, didnt solve it.

[2019-12-18 06:30] FelipeCarrillo opened #253 "Points not showing on map"
This is probably very simple but my lack of understanding spatial data it is making ask this question. Please give me a hint if you don't mind. My dataset is huge but I am only posting about a hundred records.  I am trying to convert a dataframe with lat and long to spatial points and visualize with leaflet but for some reason my points are not showing. I believe I have the correct CRS. See below:

[2019-12-18 10:27] lbusett commented on #253
Hi @FelipeCarrillo.
I do not think this is relevant here, considering that in your code you are not using `mapview`.
I'd suggest you to post this on StackOverflow, or maybe in the `leaflet` issue tracker (StackOverflow would be best, IMO).

[2019-12-18 10:40] tim-salabim commented on #253
I agree with @lbusett , this should be asked on SO!

FWIW, from quickly scanning your code, you are using `addCircles` with a radius of 3 (m), so you'd need to zoom in quite far to see the points. Try using `addCircleMarkers` and see if it solves your issue.

[2019-12-18 10:40] #253 closed

[2019-12-19 17:55] tim-salabim commented on #249
The only other reason for this behaviour that I can think of is a slow internet connection. You could try adding `delay = 5` to your mapshot call to see whether that produces anything.

[2019-12-19 18:14] tim-salabim commented on #249
On second thought, you could also set `remove_url = FALSE` and see whether the temporary interactive map renders fine.

[2020-01-07 23:54] kent37 opened #254 "Problem with dynamic map in Shiny app"
I get the error
[code]
when using `mapview` in a Shiny app where the map is based on reactive data. Here is an example:
[code]

My guess is that the problem is the `mapview2leaflet(expr)` call in `renderMapview`, because the same example works if converted to use `leaflet` instead of `mapview`.

One fix is to enclose the `output$mapPlot` in `observe({ })`. However according to [this discussion](ht

[2020-01-07 23:55] kent37 commented on #254
Here is the (working) `leaflet` version:
[code]

[2020-01-07 23:57] kent37 commented on #254
From here: https://stackoverflow.com/questions/59585109/filtering-data-reactively-to-generate-maps/59585256

[2020-01-08 13:34] kent37 commented on #254
Replacing `renderMapview` with the below function makes this example work. I don't really understand what `substitute` is doing here so I don't know if there might be other implications to this change...
[code]

[2020-01-08 14:29] ervanSTRI opened #255 "setting 'max.size' to Inf doesn't work"
Hi there,

I am struggling to overlay several "large" rasters of 8mio pixels each. I keep getting an error message saying:
"Error in leaflet::addRasterImage(map = m, x = x, colors = pal, project = FALSE,  :
  Raster image too large; 7777234 bytes is greater than maximum 4194304 bytes"

To overcome the problem, I have compressed each raster to ~1.5 Mb and set the mapviewOptions to Inf as recommende

[2020-01-08 14:31] tim-salabim commented on #255
Can you provide one of the raster images? Offline via mail is fine

[2020-01-08 14:58] ervanSTRI commented on #255
Hi Tim,

I have tried to plot each raster separetely and that one poses problem. It is available [here](https://www.dropbox.com/s/cv3sd096gzhvk82/G24-25_SOLL_300m_binary_07.01.20.tif?dl=0)
Thanks
Ervan

[2020-01-09 08:41] ervanSTRI commented on #255
@tim-salabim : By the way, I encounter another strange behaviour of mapview. I rasterized as systematic grid using "grid id" as raster value through fasterize::fasterize(..,field="grid.id"), and when I project it through mapview I got very odd values (with decimals whereas grid id are integers.

In mapview the grid id is: 6578010.3626...
![image](https://user-images.githubusercontent.com/20225141/

[2020-01-09 09:06] tim-salabim commented on #255
I think you need to set `method = "ngb"` in the mapview call. By default it is set to `"bilinear"` which will interpolate ids (in your case) linearly and hence produce floats. See the respective help page for `projectRaster`

[2020-01-09 12:59] ervanSTRI commented on #255
Great! Thanks! Any hint regarding the raster size issue?

[2020-01-09 13:25] tim-salabim commented on #255
Haven't looked at it yet

[2020-01-09 16:34] lbusett commented on #254
See my reply on stackoverflow: In shiny applications, use of `renderLeaflet` over the @map slot of the `mapview` object is preferable and should solve your issue (See https://github.com/r-spatial/mapview/issues/58).

[2020-01-09 16:53] kent37 commented on #254
ISTM that `renderMapview` should either be fixed or removed (or deprecated with a note to use `renderLeaflet(map@map)` instead.

[2020-01-17 18:02] mtennekes opened #256 "addStarsImage"
Hi Tim, I'm working on the stars branch of tmap and trying to get the view mode working. I found your handy function `addStarsImage`.

Two questions:

- Did you consider to add it to `leaflet`? Or a leaflet-add-on package? It would make sense to me...
- It doesn't work as expected with my dataset (tmaps `land`):

[code]

The first one overlays the raster image correctly, the second one (`addStarsI

[2020-01-17 18:40] edzer commented on #256
Reminds me of [this](https://xkcd.com/2256/)!

[2020-01-17 18:42] edzer commented on #256
When transforming a `stars` raster, if you need a _regular_ grid in the new projection, you will want to use `st_warp`; `st_transform` on a regular raster will return a curvilinear grid.

[2020-01-17 18:47] tim-salabim commented on #256
@mtennekes `addStarsImage` is deprecated in mapview as it now resides in package leafem. I'll have a look at the warping issue tomorrow.

[2020-01-18 09:00] tim-salabim commented on #256
@edzer when using `st_warp` I see a peculiar error message about not being able to allocate 861.6 Gb... Is this expected? Seems like a lot of memory for such a data set...

[code]

[2020-01-18 15:10] edzer commented on #256
You're asking to warp a global grid to web Mercator, but web Mercator doesn't have global coverage (it projects the poles to infinity). E.g.
[code]
The problem seems to be more in x than y, e.g. this works:
[code]
but leaving `x` and subsetting `y` doesn't help.

I guess we need to use some heuristics in this case, and make the world a little bit shorter before computing the new grid dimensions.

[2020-01-18 15:16] edzer commented on #256
[code]

[2020-01-21 16:36] mtennekes commented on #256
Indeed,
[code]
doesn't work.

However, this shows that the problem seems to be the `y`:

[code]

[2020-01-22 19:07] tim-salabim commented on #256
@edzer where do you think this should happen? My guess is that stars/sf would be the better/more general option as this may bite other users too, not only web-mapping folk...

[2020-01-23 07:58] Hansbrolo2k opened #257 "Legend Not Accurate"
I was working with South Sudan refugee crisis data and I'm having an issue with my code. The legend colors don't line up with the State colors I set for them. Any help would be appreciated.
[R Help.zip](https://github.com/r-spatial/mapview/files/4143381/R.Help.zip)

[code]

[2020-01-23 08:13] tim-salabim commented on #257
Sorry, I can't help you if you don't provide the data I need to reproduce the issue. Where can I find `ssd_admbnda_adm1_imwg_nbs_20180817.shp`?

[2020-01-23 15:30] Hansbrolo2k commented on #257
I attached them as a zip file [DTM_SSD_VNA_R6.zip](https://github.com/r-spatial/mapview/files/4101888/DTM_SSD_VNA_R6.zip)
[ssd_adminboundaries_tabulardata.zip](https://github.com/r-spatial/mapview/files/4101891/ssd_adminboundaries_tabulardata.zip)

[2020-01-23 15:48] tim-salabim commented on #257
There's no `.shp` file in those zips

[2020-01-24 06:39] FrogBoss74 opened #258 "legend scientific notation"
Is there a way to display legend when values plotted are relatively low say 1e-9 to 1e-3?
ideally, I'd like to display region colour legends in range bands eg (1e-3, 1e-4], (1e-4, 1e-5], (1e-5, 1e-6], etc. log10 scale or not. Right now it shows 0 as values are truncated below 0.001.
The data looks like a grid of grid points with each point having a value ranging 1e-9 to 1e-3. For presentation purp

[2020-01-25 08:25] tim-salabim commented on #258
Can you somehow share this data or produce a reproducible example using some openly available data? Everything else is just guessing on my side...

[2020-01-26 01:00] Hansbrolo2k commented on #257
Sorry about that. I just put them both into this file.
[R Help.zip](https://github.com/r-spatial/mapview/files/4113066/R.Help.zip)

[2020-01-28 02:17] shriv commented on #178
I had this exact same issue today! Not sure if the manipulateWidget solution has been written down somewhere? But [this example](https://rdrr.io/cran/leaflet.minicharts/man/syncWith.html) worked for leaflet map sync in flexdashboard.

[2020-01-28 14:46] FrogBoss74 commented on #258
I could not reproduce the second colour issue. I ll share data if i manage to reproduce. The main point is about control of format for the legend.

library(sf)
study_area = st_as_sf(data.frame(geom=c("POLYGON((0 0, 0 500, 500 500, 500 0, 0 0))"),
                               stringsAsFactors = F), wkt="geom", crs=3857)

gr = st_sf(grid = st_make_grid(study_area, n = dim(volcano), square =T, what

[2020-01-31 16:23] tim-salabim commented on #257
Sorry, but this is still not enough! A shapefile consists of at least 3 files, so as long as you don't also provide the `.prj` and `.dbf` files, I cannot read the `.shp` file.

See http://switchfromshapefile.org/ for details and some better alternatives.

[2020-01-31 17:25] tim-salabim commented on #240
@hewag1975 with the above commit, the issue should be solved. Can you please try and report back if this works as expected now?

[2020-02-02 00:08] Hansbrolo2k commented on #257
I'm really sorry about that. Thank you for bearing with me.
[R Help.zip](https://github.com/r-spatial/mapview/files/4143380/R.Help.zip)

[2020-02-03 10:50] hewag1975 commented on #240
@tim-salabim factor partially solved from my poc. Legend and map are correct if I omit a certain factor level, but adding the color to the dataset as a variable still produces a wrong mapping between legend and points (though the legend now looks fine visually).

[2020-02-03 10:54] tim-salabim commented on #240
Do you have an example? Also, did you use the latest develop version? I added another commit because some things weren't solved with the one mentioned above.

[2020-02-03 10:58] hewag1975 commented on #240
Actually I forked the repo, cloned it locally and tested from there. I was simply re-running the reprex above. If you are looking at the last part of it (adding color as a col) you should see it.

[2020-02-04 09:20] ervanSTRI commented on #15
@tim-salabim : Any chance to specify or change the feature ID in the pop-up table, by either specifying a target column or removing the feature ID line in the table?? Thanks.

[2020-02-04 18:04] tim-salabim commented on #240
Ok, so the above commit should hopefully finally solve the issue. At least for me all examples above behave nicely now... Please re-check and PLEASE close the issue if it now works for you :-)

[2020-02-04 18:29] tim-salabim commented on #257
Before I jump into any unnecessary debugging, can you please install the latest development version and try again. I've just pushed an update for a similar issue, so maybe that solves it already

[code]

[2020-02-05 16:24] Hansbrolo2k commented on #257
Okay. I added some more comments and installed that package. It hasn't solved the problem yet.

[2020-02-06 10:49] hewag1975 commented on #240
Ok, retested and everything looks fine now. Thanks lot!

[2020-02-06 10:49] #240 closed

[2020-02-06 22:44] edzer commented on #256
In [this](https://github.com/mtennekes/tmap/blob/dbbaec32be3b647ef48b424b12702ee762815a48/R/stars_misc.R#L84-L85) code you assume raster dimensions are named as `x` and `y`; this is not always the case. A more robust approach would be to get the raster dimensions from stars object `x` by:
[code]
(this is in need for a less ugly approach)

[2020-02-07 16:25] edzer commented on #256
That last comment was meant for @mtennekes

[2020-02-08 10:33] tim-salabim commented on #257
@Hansbrolo2k the above commit should solve your issue at least partly. Colors should now be correctly displayed. The only thing that is missing is a legend entry for NAs. At this stage I am not sure how to solve this, but maybe I'll have a revelation soon.

Can you please re-test and report back if it works for you now?

[2020-02-10 09:13] tim-salabim commented on #256
I'm still wondering where this should happen though? This isn't relevant for web-mapping applications only, is it?

[2020-02-10 09:22] edzer commented on #256
You mean, warping a global long/lat grid to web Mercator? Yes, I agree, this could/should be handled by stars; it's the +/-180 sides that cause trouble, I believe.

[2020-02-10 09:25] tim-salabim commented on #256
The +/-180 is not a different issue though, is it?

[2020-02-10 09:28] edzer commented on #256
No, it's this issue, possibly along with constraining latitude to +/- 85 or so.

[2020-02-10 10:53] nekronaut opened #259 "Background maps not displayed with current R 3.6.2/RStudio 1.2.5033 versions"
After updating to the current R/RStudio versions (R 3.6.2 and RStudio 1.2.5033) background maps are no longer displayed in the RStudio viewer window. I have tried numerous providers, so that I believe all background maps to be affected. The only workaround is to use the  `viewer.suppress = TRUE` option, which I find rather inconvienient. I have given detailed session info [here](https://stackoverf

[2020-02-10 12:00] tim-salabim commented on #259
I can't reproduce this behaviour. Everything works fine for me. From your SO post it sounds more like a firewall/proxy issue. Maybe your organisation's IT is hardwiring software version numbers into exceptions? Happened to me once...

[2020-02-10 12:26] nekronaut commented on #259
Thanks for the reply! At least I now know that the issue is specific to my environment and I will see, if our IT can do something about it.

[2020-02-10 12:26] #259 closed

[2020-02-10 12:28] tim-salabim commented on #259
In case you find it's not, feel free to reopen

[2020-02-12 11:10] edzer commented on #256
I think this commit gives a clean `st_warp` from global longlat stars images to 3857, cutting latitude properly, but doesn't give the right mapview/leafem image later on. But maybe I'm looking at some wrong branch?

[2020-02-12 12:25] tim-salabim commented on #256
Likely because we still use `st_transform` and not `st_warp`.

https://github.com/r-spatial/mapview/blob/develop/R/stars.R#L160
https://github.com/r-spatial/leafem/blob/master/R/addStarsImage.R#L100

I'll test with `st_warp` and report back. I haven't had a need to learn stars myself so far, so only learning while implementing things here...

[2020-02-12 18:32] tim-salabim commented on #256
@edzer we're nearly there... Something weird is going on though, when I calculate the bbox from the `st_warp`ed land data and `st_transform` that back to longlat.

[code]
I might be doing something wrong here, but I would expect a lossless round-trip here.

In case you wonder why this is necessary and find it a little convoluted (like I do), it's what leaflet actually needs. It expects the raster

[2020-02-12 21:11] Hansbrolo2k commented on #257
Hello, I've been trying to get it to work for the last few days, but I'm having trouble with the mapview legend function.  I keep getting an error for using it saying, "no applicable method for 'droplevels' applied to an object of class "character"". I believe I want to insert a list rather than a character class, but I'm probably just using it wrong. Here is what I have been trying:
mapviewLegend

[2020-02-12 22:57] edzer commented on #256
Thanks! This
[code]
now works; will look into the legend & is.factor stuff next.

[2020-02-13 07:36] tim-salabim commented on #257
You shouldn' need to use `mapviewLegend` directly. Your example above works for me now. Doesn't it for you?

[2020-02-13 09:29] tim-salabim commented on #256
Thanks @edzer! The legend issue is likely a mapview issue... I'm still struggling with the leaflet legend functions + haven't looked at the raster legend implementation in mapview for a very long time

[2020-02-13 11:53] edzer commented on #256
@tim-salabim pls look at my two PRs on mapview (branch stars_EP) and leafem (branch stars); what currently does not work is the legend of a categorical variable: the labels are mixed up. I think the following plot the labels (colors) right, for reference:
[code]
(we really should use a color scale with 20 colors, here!).

I tried:
[code]

[2020-02-14 07:18] Hansbrolo2k commented on #257
No. I'm still having the same problem. I'm using R x64 3.6.2 if that makes a difference. Here is what I have now
#Install and access
#install.packages("tidyverse")
#install.packages("ggmap")
#install.packages("sf")
#install.packages("sp")
#install.packages("mapview")
#install.packages("ggrepel")
#install.packages("devtools")
library(devtools)
library(ggrepel)
library(tidyverse)
library(ggmap)
libr

[2020-02-14 14:33] ervanSTRI opened #261 "Shift in raster projection"
Hi,

I am experiencing a strange behaviour of mapview, when plotting a raster.
In the picture below, the shaded area is the raster (as it is projected), but when I pass the pointer below it, I do have a grid id (LAYER GRID ID) while it shouldn't. My gut feeling is that location from the pointer is right, but the "image" is shifted up.

![image](https://user-images.githubusercontent.com/20225141/74

[2020-02-15 18:27] baldeagle opened #262 "[feature request] use webshot2 instead of webshot in mapshot"
Phantom.js has been end of life for a while.  Lets move on to headless chrome.

[2020-02-16 10:07] tim-salabim commented on #262
AFAIKT, webshot2 is not on CRAN. Once it is, I'd appreciate a PR for this...

[2020-02-16 11:39] tim-salabim commented on #256
Thanks @edzer! As I expected, I need to completely re-visit the raster legend creation in mapview.

[2020-02-16 19:26] baldeagle commented on #262
When trying to integrate it into my local fork, I get a error in s$close - not a function.
Is there a guide or tutorial to learn how to troubleshoot R pacakges?  I would like to make a pull request, but I'm new at this.

[2020-02-16 20:20] tim-salabim commented on #262
Sorry I don't know. But I wouldn't worry until it is released on cran. I won't merge the pr before anyways

[2020-02-19 08:01] maxbre opened #263 "mapview static labels offset and direction"
it seems to me not working neither the offset of static labels nor the direction

[code]

[2020-02-19 08:16] tim-salabim commented on #263
Thanks, you're right. In [this line](https://github.com/r-spatial/leafem/blob/master/R/labels.R#L96) we need to reverse the arguments passed to `modifyList`, then things should work... I'll get to it soon

[2020-02-19 11:14] nekronaut opened #264 "Exporting map to html with embedded png-popups"
According to the package documentation, a mapview object with locally stored popup images can be exported to html. The documentation states the following:

I interpret this to mean that the images are stored one level up in the file tree hierarchy, NOT inside the folder containing the remaining files connected to the html. Unfortunately, I don't see any folder/image files saved one level up and my

[2020-02-19 11:40] tim-salabim commented on #264
Please see [this example](https://github.com/r-spatial/leafpop#addpopupimages--popupimage) in the **leafpop** repository. For exactly the reason that you describe here, we've re-implemented the popup functions as `add*` functions so that the images are actually saved in the correct place. This approach should also work with mapview, e.g.

[code]

Please let me know if this works for you...
Maybe w

[2020-02-19 12:28] maxbre commented on #263
that's great, keeep on going with the excellent work, thank you

[2020-02-19 16:00] nekronaut commented on #264
Thanks a lot for pointing out the `addPopupImages`! It's not always easy to stay on top of the most up-to-date syntax. This works for me:

    m = mapview(pnt, popup = FALSE)
    m = m@map %>%
      leafpop::addPopupImages(img_local, group = "pnt")
    mapshot(m, url = paste0(getwd(), "/testmap.html"))

Interestingly, including `layer.name = "Mount Eden"` in the `mapview` call doesn't, i.e. not po

[2020-02-19 16:23] tim-salabim commented on #264
Yeah, this is something that has popped up in the past. In mapview layer.name is passed on to leaflet as group, so if you adjust group in addPopupImages, it should work.

[2020-02-19 16:58] nekronaut commented on #264
Ah, now I understand. Yes, that worked.

[2020-02-19 18:27] tim-salabim commented on #264
That's what happens if you start programming away without thinking about design principles... I should at least document that properly somewhere!

Thus, I'm leaving this open as a note to self!!

[2020-02-21 07:40] astraetech opened #265 "Error in collapse(tmp, indent = indent) : R character strings are limited to 2^31-1 bytes"
Hi,
Thank you for a fantastic package!
It seems when I have 123099 points the mapview is giving this error. I can't share the data unfortunately so can't build a reprex.

[code]
This is the actual output from Rstudio console. The error persists when I remove the maxpoints and selfContained arguments. I can plot parts of this file, like random 40k obs, but can't plot the whole file.

[code]
I haven

[2020-02-21 08:25] tim-salabim commented on #265
It is not easy without a reprex. In any case, I don't think this is a mapview issue...
What happens if you assign your filtering to a variable first and try to plot that?

[2020-02-21 18:22] #263 closed

[2020-02-21 18:23] tim-salabim commented on #263
Should work now if you reinstall **leafem** from github

[2020-02-21 18:41] beausoleilmo commented on #239
I've looked into it and it is not optimized for what I want to do. Whenever I use the pch =21 and the bg in conjunction with the col, it's not plotting correctly the shapes and colours. A mapview solution would be welcome!

[2020-02-21 18:41] #264 closed

[2020-02-21 18:56] tim-salabim commented on #239
There's [this plugin](https://github.com/rowanwins/Leaflet.SvgShapeMarkers) which would achive what you want I guess. I don't think there's a R wrapper for it yet, so I am tagging this for the rspatial dev day at user2020. Maybe someone wants to implement this...

[2020-02-21 19:48] beausoleilmo opened #266 "cex is not changing with the proper amount"
I'm using a a function to change the size of points like this:

`idsp$cex.activity = ifelse(idsp$pointtype=="Seen",1,2)`
![Screen Shot 2020-02-21 at 14 44 54](https://user-images.githubusercontent.com/15717151/75066514-fc30e580-54b8-11ea-8554-979b2e204f4f.png)

But even if I change that number, I get the same thing. Is that normal?
`idsp$cex.activity = ifelse(idsp$pointtype=="Seen",1,3)`

![Screen

[2020-02-21 19:56] beausoleilmo opened #267 "Legend and point not coloured the same way in mapview"
I have a map where the point in the map and the legend doesn't correspond.

![Screen Shot 2020-02-21 at 14 50 04](https://user-images.githubusercontent.com/15717151/75066853-c2acaa00-54b9-11ea-9b50-553204bff1aa.png)

"Roosting" should be orange, but the point should be orange as well...

Here is the code:

    pal = mapviewPalette("mapviewRasterColors")
    mapview(subidsp,
            zcol = "poi

[2020-02-21 20:14] tim-salabim commented on #267
Can you provide a reproducible example?

[2020-02-24 07:27] maxbre commented on #263
perfect!

[2020-02-25 07:19] michaeldorman opened #268 "crs"
Seems like rasters without a CRS definition are not displayed. Although hovering with the mouse shows pixel values, the raster is completely transparent. Here is a reproducible example:

[code]

![unnamed-chunk-1-1](https://user-images.githubusercontent.com/9386655/75223664-a6598780-57af-11ea-8fc7-ffc65808e3c2.png)

[code]

![unnamed-chunk-1-2](https://user-images.githubusercontent.com/9386655/752

[2020-02-25 07:45] tim-salabim commented on #268
Thanks, you're right. This should actually invoke `plainview::plainView` to show the raster, not `leaflet`. I'll look into it soon.

[2020-02-25 07:48] michaeldorman commented on #268
Great, thanks!
Didn't know about `plainview::plainView`, will use that for now.

[2020-02-25 07:56] michaeldorman commented on #268
`plainView` doesn't seem to display raster values on hover though, if it's possible this could be a very useful feature

[2020-02-25 08:10] tim-salabim commented on #268
Oh yes it would! All the JS stuff is growing a little over my head (a literal translation from German :-) ), though I guess it would actually be easier than for leaflet becuase we don't have to worry about projections...

[2020-02-25 17:44] tim-salabim commented on #268
@michaeldorman what's your `packageVersion("mapview")`? Mine is `2.7.7` and things work fine...

[2020-02-25 18:35] tim-salabim commented on #268
@michaeldorman what's your `packageVersion("mapview")`? Mine is `2.7.7` and things work fine... See bottom-left in the image below.

![Screenshot from 2020-02-25 18-50-02](https://user-images.githubusercontent.com/2826432/75273133-bbf69d80-57ff-11ea-8e19-6c1d497fa7ae.png)

[2020-02-25 20:24] michaeldorman commented on #268
I have `mapview` version `2.7.0`. With `devtools::install_github("r-spatial/mapview")` version `2.5.0` is installed, which gives the same result. I also tried `devtools::install_github("r-spatial/mapview@develop")` but the installation doesn't succeed:

![Screenshot from 2020-02-25 22-22-05](https://user-images.githubusercontent.com/9386655/75284404-66c98480-581d-11ea-898d-92737e3c3715.png)

[2020-02-25 20:29] tim-salabim commented on #268
Can you try to first `remotes::install_github("r-spatial/leafem")` and then install the develop branch of mapview again? That should resolve things.

[2020-02-25 20:52] michaeldorman commented on #268
Thanks, it didn't solve the issue...

My session info is:

[code]

[2020-02-25 21:13] tim-salabim commented on #268
Hm.. strange! I cannot reproduce your issue. Here's my `sessionInfo()`
[code]

[2020-02-25 21:30] tim-salabim commented on #268
That said, I can reproduce the issue on my windows machine. I will try to figure out what's going on tomorrow when I'm back at work

[2020-02-25 21:50] michaeldorman commented on #268
Thank you for the help! I'll use `plainView` for now

[2020-02-26 04:42] astraetech commented on #265
It seems when I select just the lon and lat and obs_id, it manages to render a plot. So maybe a dataset size problem?

[2020-02-26 07:55] tim-salabim commented on #265
Maybe... I can't help you if you don't provide a reproducible example!
Why are you using `x_col` and `y_col`? What is `land_imp_1`? Is it a `sf` object? In any case, I don't think you will have much luck plotting 100k+ features with mapview. For this we have either [mapdeck](https://github.com/SymbolixAU/mapdeck) or [leafgl](https://github.com/r-spatial/leafgl)

[2020-02-28 12:57] ervanSTRI commented on #261
Hi,
Let me develop the issue a bit (might not be the most suitable place though). I have a raster projected in EPSG:21781 (avaiable [here](https://www.dropbox.com/s/k4ncaz25eb9b0mr/grid100.tif?dl=0)) that I'd like to display with mapview. Raster values correspond to the grid id, and need to be preserved.
If I understood correctly, mapview is calling leaflet::addRasterImage() to do so, and reprojec

[2020-02-28 13:50] tim-salabim commented on #261
you can set the method to ngb in `mapview(x, method = "ngb")`

[2020-03-02 08:01] ervanSTRI commented on #261
Hi Tim,
Thanks for getting in touch. Indeed I was using mapview(x,method="ngb") will plotting my raster. The problem while doing this is that it end up with grid cells (pixels) missing after reprojection. I need to keep/show all cells from my original raster, but I guess this is due to the distorsion going from a "planar" to a "hemi-spherical" projection...

[2020-03-02 08:25] tim-salabim commented on #261
If you want a basemap with mapview, you have two options:

1. the usual reprojection to 3857 with all consequences
2. find a wmts tile provider that meets the projection requirements and use that (have a look [here](http://api3.geo.admin.ch/services/sdiservices.html#wmts) for swiss options).

The other thing you can do is set `native.crs = TRUE` which will plot the original raster without a basema

[2020-03-02 13:07] ervanSTRI commented on #261
Really appreciate your helpful comment. Will explore these options.
Thanks for all!

[2020-03-02 14:17] tim-salabim commented on #261
You're right actually. I forgot that leaflet doesn't support native crs for rasters, only vector data. My bad. What you could try is to convert your raster to polygons and try to plot them with `leafgl`. Not sure if it will work, but worth a shot.

[2020-03-02 14:28] ervanSTRI commented on #261
Great thanks! Will give it a try.

[2020-03-02 15:16] #261 closed

[2020-03-03 09:25] ervanSTRI commented on #261
@tim-salabim: For your personnal record, I have tried to plot my data with leafgl, but did not succeed (nothing appears, even after reprojecting manually into EPSG 3857). However, mapview did the job smoothly. It took 75 sec to generate and about the same to print a leaflet  with 5 layers, 154'176 polygons each, totaling 242.3 Mb. Not bad!! (I have a 32 Gb RAM machine though) Good to know.

[2020-03-03 10:17] tim-salabim commented on #261
For leafgl the data need to be in 4326, not 3857. But good to hear that mapview did the job!

[2020-03-03 10:36] ervanSTRI commented on #261
One more thing: why not providing a way to specify a grouping factor to generate layers for vectors/sf?
So is done with rasterStacks or in addGlPolygons(x,group=XX). But to do the same in mapView, sf objects needs either to be split(), or subsetted/plotted by group individually... not super efficient.

[2020-03-03 10:42] tim-salabim commented on #261
I am not quite sure what you mean... The group equivalent in mapview is layer.name. If you want to plot multiple layers at once and have a grouping column, you can use `burst`. See

https://r-spatial.github.io/mapview/articles/articles/mapview_02-advanced.html#using-burst

Or are you thinking of something else?

[2020-03-03 11:15] ervanSTRI commented on #261
I see. I will have to reshape my object then, as I have a column specifying the different groups. I am using a combination of data.table and sf, and a melt-like approach. As far as I understand, `burst` does use the different columns as layers, but not a colum (with grouping factors) to filter and return corresponding rows into various layers, or I am missing something here?

[2020-03-03 11:27] tim-salabim commented on #261
Hm... that seems like a scenario that we should support. Would you mind opening another issue with a reprex for that scenario?

[2020-03-03 11:36] ervanSTRI commented on #261
Sure. Thanks

[2020-03-03 11:40] tim-salabim commented on #261
Thanks!

[2020-03-03 13:05] ervanSTRI opened #269 "(add feature) : provide a 'group' argument to generate multiple layers with vectors"
I was thinking about a way to specify a column serving as grouping factor to generate multiple layers with vectors. Currently, the combination of `burst`and `zcol`does the following:

[code]
[Pict1](https://i.imgur.com/gXWw9Y0.png)

Currently, it is not possible to generate different layers based on 'group' and color features based on a different variable/column. A possible way is to create a list

[2020-03-03 13:10] ervanSTRI commented on #261
The issue is open here: https://github.com/r-spatial/mapview/issues/269#issue-574654667

[2020-03-03 13:13] tim-salabim commented on #269
Thanks! Not sure when I can get to this. Thinking this might also be a good issue/featre request for our dev day at useR2020! in St. Louis (in July)

[2020-03-13 15:40] maxbre opened #270 "legend control the thousand separator"
by considering this reproducible example

`mapview(breweries, zcol = "founded")`

is there any way to control the thousand separator in the legend?

I've been trying this rough approach but without much success (apparently with none effect at all, neither an error or a warning is thrown out)

[code]

thanks

[2020-03-20 16:00] edzer opened #271 "upcoming sf breaks mapview on CRAN"
See
* https://www.r-spatial.org/r/2020/03/17/wkt.html
* https://win-builder.r-project.org/incoming_pretest/sf_0.9-0_20200319_213604/reverseDependencies/summary.txt

It seems that mapview is not robust against the upcoming change in crs objects. Let me know if you need help!

[2020-03-20 16:23] tim-salabim commented on #6
Sparked by https://github.com/r-spatial/stars/issues/256 I think I finally found a way to make this work.
The approach is only slightly modifies option B by @bbest above. The issue with the original suggestion was that `crop`ing the raster into two parts of either side of the dateline sometimes resulted in a gap between the two rasters, depending on what `snap` ended up doing. We need to set `snap

[2020-03-20 16:33] tim-salabim commented on #271
Is the above commit a future-proof change? If not, I think I would need some help...

[2020-03-21 10:40] lbusett opened #272 "viewRGB failing on current leafem/mapview github versions"
Hi,

  I noticed yesterday that `viewRGB` fails on current leafem/mapview github versions (see sessioninfo below):

[code]

<sup>Created on 2020-03-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

Unfortunately, I have connections problems in this days and am not able to try for a fix...

  HTH,

Lorenzo

[2020-03-22 10:32] #272 closed

[2020-03-22 10:32] tim-salabim commented on #272
Thanks! Must've gotten lost in the transition from mapview to leafem... Should work as expected now.

[2020-03-22 15:35] lbusett commented on #272
Thanks! I'll try checking tomorrow!

[2020-03-23 11:29] johnForne commented on #6
Kia ora Tim, much appreciated.
I was super excited as you got rid of the gap over the 180 line - but, unfortunately, then released that you solution introduced a potentially more serious error in the data (not just the smoothness of how it shows on the map)...

The issue is that in shifting the cropped rasters it results in the coordinates of the pixels being shifted so that they may not long refl

[2020-03-24 23:05] fabeit opened #273 "Disable resampling when plotting raster"
Thank you for the very nice package!
I have seen a similar question/issue https://github.com/r-spatial/mapview/issues/123 in which it is explained that any raster object is resampled to be reprojected.

I am wondering if there is anyway to turn the resampling off because it really reduced the usefulness of such great package. My rasters are usually in latlong and world coverage WGS84. Is there any

[2020-04-02 15:14] tdwils opened #274 "save map with fractional zoom using mapshot"
It seems that mapshot is rounding the zoom level to the nearest integer when the map to be exported has a fractional zoom.

For example, the mapshot command below creates identical png files for both zoom = 4.6 and zoom = 5.0. Is there a way to save the map with a fractional zoom level?

[code]

Many thanks!

[2020-04-03 18:47] mtennekes commented on #256
Hmm, I get this:

[code]

with these package versions:

[code]

Any idea?

[2020-04-03 21:11] edzer commented on #256
Same here ;-)

[2020-04-03 21:13] edzer commented on #256
Btw do look into sf dev from github; `sf_project` is going to accept a wider range of things (`crs` objects, wkt) and will be released in the next few days (before stars which has the 9 apr deadline).

[2020-04-04 09:21] tim-salabim commented on #256
@edzer this seems to be indeed related to `sf_project` (this is with the latest sf master from gh). The default in `leafem::addStarsImage` is to use `stars::st_warp` but only `if (utils::packageVersion("stars") >= "0.4-1")` so I guess I need to wait until either **sf** or **stars** hit CRAN.

[code]

<sup>Created on 2020-04-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<

[2020-04-04 09:26] tim-salabim commented on #256
Error in sf_project(from, to, cc) :
  no arguments in initialization list: GEOGCS["WGS 84",
    DATUM["unknown",
        SPHEROID["WGS84",6378137,298.257223563],
        TOWGS84[0,0,0,0,0,0,0]],
    PRIMEM["Greenwich",0],
    UNIT["degree",0.0174532925199433]]

@mtennekes I am a bit buffled regarding this example. With the latest **raster** from CRAN, I cannot do `land["elevation"]`, see below:

[

[2020-04-04 09:40] edzer commented on #256
Probably because the format changed; `land[[4]]` still works though.

[2020-04-04 10:19] edzer commented on #256
Will try to do `sf` today, `stars` tomorrow.

[2020-04-04 11:34] edzer commented on #256
sf submitted.

[2020-04-05 10:45] edzer commented on #256
stars also submitted.

[2020-04-05 15:48] tim-salabim commented on #256
leafem already on CRAN, mapview just submitted

[2020-04-05 16:53] tim-salabim commented on #256
...and mapview fails... I think I need to wait until stars is up. The error

[code]
stems from **sf** but is actually a **stars** issue I came across yesterday. Some combination of **sf** and **stars** versions lead to missing crs after `read_stars` - tried yesterday with the first two lines of `read_stars` example. Updating **stars** to current gh version solved the issue. Hence, I guess I simply

[2020-04-05 19:29] edzer commented on #256
You could skip the entire tests if the stars version is < 0.4-1 - stars 0.4-1 on CRAN is waiting for manual inspection.

[2020-04-06 16:37] edzer commented on #256
sf 0.9-1 on CRAN now.

[2020-04-06 19:51] jennasage opened #275 "Cannot work with raster data"
Mapview is not allowing me to plot my raster. The error I am getting is basically leafem::addHomeButton(m, ext, layer.name = layer.name) :
  unused argument (layer.name = layer.name)

I know there was a recent update, so it may be a bug that I can get around. I just haven't used the package enough to trouble-shoot it myself

[2020-04-06 20:05] tim-salabim commented on #275
[code]
should solve the problem.
New version should hit CRAN soon.

[2020-04-07 12:09] tim-salabim commented on #256
mapview 2.7.8 also on CRAN now. I'm going to close this here.

[2020-04-07 12:09] #256 closed

[2020-04-08 08:44] lbusett opened #276 "mapview crashes on raster visualization if specifying col.regions"
Hi @tim-salabim

   just noticed that this crashes on recently updated `mapview` (2.7.8 - on Ubuntu) :

[code]

, with error:

Removing the legend, works:

[code]

Culprit seems changes introduced in:

https://github.com/r-spatial/mapview/blob/28abca4d9fe8fcc73d1a73091e37ae125bb1e89d/R/raster.R#L147

on latest commits.

HTH,

Lorenzo

[2020-04-08 14:06] alain-onf opened #277 "Mapview usage issue : Error in if (!is.na(getProjection(lst[[i]]))) { : l'argument est de longueur nulle"
Hello,
I am trying to use the mapview package to plot 2 sf feature
For example my code is:
[code]
The result returns the error:
[code]
This code worked a few weeks ago, before the update of "sf" (v0.8-0 -> v0.9-0)
Do you have an idea or a solution to solve this problem?
Thank you in advance for your reply

[2020-04-08 14:47] edzer commented on #277
Have you updated mapview?

[2020-04-08 17:36] #276 closed

[2020-04-08 17:47] tim-salabim commented on #276
I assume this was just a toy example? 10 colors is not enough for the raster to be properly displayed.

In any case this should now work (again) with either a color vector as in `col.regions = pal(10)` or just the function `col.regions = pal`. The latter is preferred as it lets mapview take care of the color mapping. Everything else is pretty much guesswork as to what the user intended.

In your e

[2020-04-08 19:32] GabrielSartori opened #278 "What can i do?"
When i use mapview inside chunk, sometime i get this error - Erro: invalid version specification ‘3,5’

[2020-04-08 19:51] lbusett commented on #276
Thanks for looking into this!

Yes, that was just a toy example. In the "real" code that brokw I had pal(100). However, I'll also check now the use of `col.regions = pal`: thanks for the hint.

Regarding "what should we do with a vector of 10 colors", I agree that recycling makes little sense - expanding to the whole range seems much more better also to me.

[2020-04-09 06:21] alain-onf commented on #277
I'm using R v 3.6.1 in RStudio with mapview v 2.7.0

[2020-04-09 06:51] tim-salabim commented on #277
current mapview on CRAN is 2.7.8

[2020-04-09 06:57] alain-onf commented on #277
How to do ?
When I do "install.package" in R 3.6 automatically installs version 2.7.0

[2020-04-09 07:04] tim-salabim commented on #277
If you're on windows or mac, you may need to wait a few days until the binaries are available for 2.7.8. If you're sure that the required system libraries (GDAL, PROJ, GEOS) are installed correctly on your computer, you can also do

[code]

[2020-04-09 07:52] lbusett commented on #276
Ok. Tested and now working again as before. Thanks.

[2020-04-09 11:18] alain-onf commented on #277
Thank you
I will wait for the release of v 2.7.8 for windows

[2020-04-09 12:23] tim-salabim commented on #277
It should be up now. At least I got the email that it was build for windows

[2020-04-09 12:23] #277 closed

[2020-04-09 12:58] tim-salabim commented on #278
I don't know. Do you have a reproducible example?

[2020-04-09 14:13] tim-salabim commented on #276
Done

[2020-04-10 07:57] alain-onf opened #280 "Error library mapview 2.7.8 on windows"
Hello,
I have an error installing libray mapview 2.7.8
I use R 3.6.3 on windows
When I install the package :
[code]
When I load the library, there is an error:
[code]
thank you in advance for your help

[2020-04-10 08:01] alain-onf commented on #277
Thank-you for your prompt response
Now version 2.7.8 is loaded
But there is an installation problem under windows
So i open a new issue

[2020-04-10 08:12] tim-salabim commented on #280
Please update all related packages, i.e. leafem

[2020-04-10 12:11] alain-onf commented on #280
I updated "leafem"
And now it works
thank you for your help and your responsiveness

[2020-04-10 12:17] #280 closed

[2020-04-11 03:12] SimonCoulombe commented on #249
It's been 4 months and a few upgrades from ubuntu 18.10 to 19.10, but I have the same error.  when I add a delay and a remove_url.  The problem isnt with mapshot  because webshot::webshot("www.google.com") returns the same error..

mapshot(m, file = paste0(getwd(), "/map.png"), remove_url = FALSE, delay = 5)

TypeError: Attempting to change the setter of an unconfigurable property.
TypeError: Atte

[2020-04-11 08:20] tim-salabim commented on #249
Nice! Note, I've just pushed an update to mapshot yesterday. Now there is no `remove_url` anymore, we simply assume that if no url is provided we don't want to keep it...

Closing here

[2020-04-11 08:20] #249 closed

[2020-04-13 21:26] carzamora opened #281 "where is coords2Polygons?"
Hi,

this package has the coords2Polygons function right? why isn't now? where can I found the function now?

thanks!

[2020-04-14 05:25] fdetsch commented on #281
Hi,

`coords2Polygons()` and also `coords2Lines()` have been moved to package [**Orcs**](https://CRAN.R-project.org/package=Orcs). Simply run `install.packages("Orcs")` to continue using these functions.

[2020-04-14 05:25] #281 closed

[2020-04-14 07:39] tim-salabim commented on #281
Thanks @fdetsch !  I will include these functions in `mapview-defunct` and the `README` to document these changes.

[2020-04-14 19:55] #278 closed

[2020-04-15 10:49] lbusett opened #282 "Raster legend not updated if specifying manual breaks"
Hi,

   on current mapview@develop, the raster legend is apparently not properly updated when manually specifying breaks. For example:

[code]

gives:

![image](https://user-images.githubusercontent.com/4480397/79328783-e539cd00-7f16-11ea-82e6-f5fae48a7fb1.png)

, but if we manually specify breaks, the map is modified, but the legend is no longer "correct":

[code]

![image](https://user-images.gi

[2020-04-16 14:35] lbusett commented on #282
__UPDATE__

 I tried to see if I was able to "fix" this but without success... sorry. FYI: if it helps, I saw that "old" behaviour can be "restored" easily by uncommenting here.

https://github.com/r-spatial/mapview/blob/0a3517f764e8e42cebff2bd71013f74e53430fc5/R/raster.R#L164

[2020-04-16 14:51] tim-salabim commented on #282
I know, legends are the hill I'm gonna die on... I'll have a look at this on the weekend.

[2020-04-16 15:14] lbusett commented on #282
Thanks... and sorry for the bad news. I tried to work on this but failed.
By the way: I just noticed that also the behaviour you get by reinstating `addRasterLegend` does not appear to be correct, unless you set a small number of breaks (e.g., 10), leading to a "discrete" legend instead of a colourbar.

[2020-04-16 15:19] lbusett commented on #282
Oh, sorry: With low number of breaks, also current mapview is ok:

[code]

![image](https://user-images.githubusercontent.com/4480397/79474130-5310f200-8006-11ea-9e32-ca5405c70285.png)

[2020-04-17 00:03] mdsumner opened #283 "consider warning when return NULL in leafgl platform"
Here is a silent NULL return when using a raster:

https://github.com/r-spatial/mapview/blob/0902f700a772fe237abb106dc6dabc3d2737deca/R/mapView.R#L385

Same for stars, perhaps warn that there's no raster-capability in leafgl mode?

[2020-04-17 06:38] tim-salabim commented on #283
Good point! I plan to clean all this up (on the weekend), as it also concerns `platform = "mapdeck"`. Instead of returning `NULL` I plan to emit a message/warning and automatically fall back to `platform = "leaflet"` (currently the only one that is feature complete). Though, for mapdeck, I think there is a method for raster imagery, I just haven't explored that yet.

[2020-04-17 08:34] mdsumner commented on #283
Cool, I knew it was probably early ... but also don't have capacity for a PR rn

[2020-04-17 08:55] tim-salabim commented on #283
No worries, there are so many little thing to iron out rn that it is best I do this in one-fell-swoop

[2020-04-26 20:47] bbass444 opened #284 "mapshot: normalizePath/dir.create errors"
I'm having major issues attempting to save multiple Leaflet maps in a local directory. Basically, I am looping through each map and trying to save them one at a time. This works successfully for roughly 5-10 maps, then I get a version of the following error and warning messages:

`Error in normalizePath(path.expand(path), winslash, mustWork) :
 path[1]="Marshall_Mississippi_tmp5926b1_files/leaflet

[2020-04-26 21:17] bbass444 commented on #284
Saw the last comment [here](https://github.com/r-spatial/mapview/issues/45). Looks like it is a Dropbox issue as everything works fine on "C:/".

Thanks anyways, appreciate this package!

[2020-04-26 21:17] #284 closed

[2020-04-27 07:13] #283 closed

[2020-04-27 07:18] tim-salabim commented on #283
Done for all raster based methods, e.g.

https://github.com/r-spatial/mapview/blob/develop/R/mapView.R#L274-L284

[2020-04-28 07:03] ctfysh opened #285 "at least one of the following columns not found"
I ran the examples in https://r-spatial.github.io/mapview/articles/articles/mapview_01-basics.html and found errors as follows:

[code]

I ran the codes both in the MacOS and Windows 10, both results in errors. I could not understand why this happened. Is it a bug?

[2020-04-28 07:07] tim-salabim commented on #285
Seems like a bug. I'll have a look later

[2020-04-29 18:56] RealePrimavera commented on #281
Hello, even after installing package Orcs, it doesn't work.

[2020-04-29 19:04] tim-salabim commented on #281
What exactly do you mean with it doesn't work? Can you be a little more specific?

[2020-04-29 19:48] RealePrimavera commented on #281
Error: unable to find an inherited method for function ‘coords2Polygons’ for signature ‘"character"

[2020-04-30 06:03] under-score opened #286 "mapshot works ..."
but deploying now the html version of a German map comes at an inacceptable size of 20 Mb plus another 500K of javascript stuff. How can this reduced to about 10%? Any option for a minified version of JS sources , dropping all comments, etc.?

[2020-04-30 07:02] tim-salabim commented on #286
Not that I know of. The sources are out of our control. You can set `selfcontained = FALSE` to move the js sources to attached scripts rather than including them in the html. That's about all you can do...

[2020-04-30 07:10] tim-salabim commented on #281
Can you post a reproducible example? Your data should either be a numeric matrix or a sp `Polygon` object.

[2020-04-30 07:11] under-score commented on #286
thank you - good starting point - so I could use library(curl) and reach out to https://javascript-minifier.com/curl

[2020-04-30 07:15] tim-salabim commented on #286
I don't think you will have control about minifying the source files, they are dynamically attached from the provided sources of the different libraries (leaflet etc.). Unless you do this manually in the created html

[2020-04-30 10:54] RealePrimavera commented on #281
Hello, one of the many trials I ran was like this:
**labpoly <- coords2Polygons(c("X","Y"),data=labeldata3)**

but I also tried to specify this function in other ways and received the same error.

Sample dataset can look like:

**nutsid <- c('AT342','AT335','AT332','AT323','AT322','AT315')
output <- c(15,1,188,85,2,3)
gdp <- c(15688,13665,16227,23170,8397,19686)
X <- c(9.7221,12.0047,11.346,13.211

[2020-04-30 12:08] hewag1975 opened #287 "argument burst throwing an error in mapview 2.7.8"
Hi TIm,
hope your doing well. Just encountered an issue with the argument burst throwing an error after updating to mapview 2.7.8. Here´s a reprex:
[code]

<sup>Created on 2020-04-30 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Can you have a look at this?
Thanks,
Hendrik

[2020-04-30 13:04] zlehmann commented on #285
I can report having the same issue. Only if you pass in a vector for zcol. Otherwise it works fine.

[2020-04-30 13:16] tim-salabim commented on #285
Yeah, I've messed with the `list` method the other day... Will revisit this weekend.

https://github.com/r-spatial/mapview/issues/287 is related

[2020-05-01 02:13] under-score commented on #286
the last 2 scripts need to be outsourced as well using `selfcontained = FALSE`

![screen](https://user-images.githubusercontent.com/2796454/80776155-efd4a300-8b61-11ea-96b3-96c0d32345e4.jpg)

[2020-05-01 09:53] tim-salabim commented on #286
Sorry, but this is really an issue you need to raise with **htmlwidgets**. `mapshot` simply wraps `htmlwidgets::saveWidget` and that is where you can set `selfcontained = FALSE`. If you'd like that to behave differently, it needs to be solved in **htmlwidgets**.

Closing this issue. If you open a new issue with **htmlwidgets** please link back to this one, so we can follow any developments.

[2020-05-01 09:53] #286 closed

[2020-05-02 11:43] #285 closed

[2020-05-02 11:44] tim-salabim commented on #287
Should work again

[2020-05-02 11:44] #287 closed

[2020-05-02 11:44] tim-salabim commented on #285
Should work again

[2020-05-04 06:40] tim-salabim commented on #273
You can use `native.crs = TRUE` but then you will not get backgraound maps. In order to put rasters on the background maps, we need to transform the data to webmercator, there is no way aound this (unless you find a tile provider that provides background maps in wgs84). Not sure if you are aware, but you can set `method = 'ngb'` to use neaighrest neighbor interpolation when transforming.

[2020-05-04 06:45] tim-salabim commented on #281
Works for me:

[code]

![](https://i.imgur.com/bwMeERy.png)

<sup>Created on 2020-05-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-04 08:07] FrogBoss74 opened #288 "issue 287 seems to persists after commit e8066778"
Dear Tim
Thank you for maintaining this very useful package. i also came across issue 287 but could not fix it with last commit. Burst =T or else is still throwing an error.

[code]

Error in fetch(key) :
  lazy-load database 'C:/Users/xxx/Documents/R/win-
library/3.6/mapview/help/mapview.rdb' is corrupt
[code]

______________________
Should work again

_Originally posted by @tim-salabim in https:

[2020-05-04 08:20] tim-salabim commented on #288
Works for me. I think your re-install from guthub wasn't successful

[2020-05-04 10:52] FrogBoss74 commented on #288
I think the issue was when I restarted the R session for installing, it reloaded mapview from the .Rdata file which for some reasons messed up the installation. I deleted the .Rdata file, uninstalled mapview and reinstalled from github and this seems to work now.
Thanks, sorry for taking your time on this.

[2020-05-04 10:55] tim-salabim commented on #288
No problem. Glad it works

[2020-05-04 10:55] #288 closed

[2020-05-05 10:25] luukvdmeer commented on #135
Someone got any further on this? The issue still seems to exist. (At least on my 'ancient' Ubuntu 16.04. I am not sure if anything has changed in the meantime)

Script `test.R`:
[code]

Running from terminal:
[code]

No browser window is opened.

Just as @adrfantini found, testing the options below does not help:
[code]

Of course this is not really a specific mapview issue, but rather something o

[2020-05-05 20:29] maklaskarlos opened #289 "mapview() with R 4.0.0"
**devtools::install_github("r-spatial/mapview@develop")** # installing it i got the following error:

WARNING: Rtools is required to build R packages, but the version of Rtools previously installed in C:/rtools40 has been deleted.

Please download and install Rtools custom from https://cran.r-project.org/bin/windows/Rtools/.
Skipping install of 'mapview' from a github remote, the SHA1 (e8066778) h

[2020-05-05 20:38] daauerbach commented on #289
did you read the linked page? Rtools has been substantially updated and you need the new rtools40 installed and in your PATH

[2020-05-05 20:49] maklaskarlos commented on #289
Not worries. I got the new rtools40 installed and also the old one deleted (rtools).

[2020-05-05 21:20] daauerbach commented on #289
Glad to hear. I am curious if you or others reading this issue thread are seeing the cryptic blank white/empty viewer that I'm getting. For example, `r breweries %>% slice(1:10) %>% mapview()` appears to run without errors or warnings, but the result isn't the expected map. This seems to be related to Rstudio though, since it works fine in a session from command line.

mapview 2.8.1
Rstudio 1.3.87

[2020-05-05 21:28] a8dx commented on #289
@daauerbach Same situation here, albeit with RStudio 1.2.5042.

[2020-05-05 22:06] daauerbach commented on #289
Okay, appreciate hearing that @a8dx

Assuming we're not the only ones, @tim-salabim, any specific requests/thoughts on how to help troubleshoot this? I _can_ work without mapview, but I'd rather not...  :wink:

[2020-05-06 06:24] tim-salabim commented on #289
That's nice to hear, but I think that until the patched version of R 4.0.1 is out you may need to. You can however set `mapviewOptions(viewer.suppress = TRUE)` in the meantime to try and avoid the issue. I am at this stage not sure if it will help (I haven't migrated to R 4.0.0 myslf yet).

The two main threads to follow in case you're intersted in the nitty-gritty details about this are:

https:/

[2020-05-06 09:00] nekronaut opened #290 "Local images not saved when using addLogo and mapshot"
I am trying to save `mapview` generated maps including local images to html, using `addLogo` and `mapshot`. Although locally saved images are displayed in the viewer/browser, they are not saved to file. Let me demonstrate...

Saving these examples from the [documentation](https://r-spatial.github.io/mapview/articles/articles/mapview_06-add.html) work, but they use remote images. For simplicity's s

[2020-05-06 09:12] tim-salabim commented on #290
Moved to https://github.com/r-spatial/leafem/issues/16

[2020-05-06 09:12] #290 closed

[2020-05-06 13:39] daauerbach commented on #289
Thanks to the pointer to the main rstudio thread, lots of helpful info there. Good to see the underlying issue(s) look resolvable/resolved with forthcoming patches.

The mapview package is as awesome as ever!

[2020-05-06 14:01] tim-salabim commented on #289
Good to know!

[2020-05-06 14:01] #289 closed

[2020-05-14 08:22] ervanSTRI opened #291 "compatibility with sf 0.9"
Hi Tim,

Have you found a way to make mapview compatible with the sf projection??
Thanks
E

[2020-05-14 08:28] tim-salabim commented on #291
Can you be more explicit as to what you think is not working?

[2020-05-14 10:31] ervanSTRI commented on #291
Sorry, a bit too focused. I was refering to [this issue](https://github.com/r- spatial/mapview/issues/271#issue-585168854).
I have recently updated R (4.0) and the sf package (v.0.9), and nothing happens when I plot sf objects through mapview...
Might be a totally different issue, but I am just starting to dig into this. Thanks for any suggestion.
Cheers

[2020-05-14 10:47] tim-salabim commented on #291
You mean the viewer is empty/white (assuming you are using RStudio)?

If so, it is a big in RStudio and is fixed in recent preview versions

[2020-05-14 11:14] ervanSTRI commented on #291
Indeed, I have a wite/empty viewer in RStudio (and in Chrome)...
Will check my RStudio version. Thanks

[2020-05-14 11:14] #291 closed

[2020-05-15 11:49] fabeit commented on #273
@tim-salabim thank you for the suggestion, I didn't know about the native.crs option, unfortunately it does not provide the cell on mouse hover, and the ngb method to doesn't provide the actual values. What I end up doing is a rasterToPolygon and then use mapview that way. I might just use a wrap around function. Is there a reason why it is difficult to find background maps in WGS 84?

[2020-05-15 13:59] tim-salabim commented on #273
Because pretty much all tile providers provide tiles in webmercator as it is the de-facto default for webmapping.

I still don't quite get the issue you have... If you plot polygons with mapview, they are also transformed to web mercator... Do you maybe have a reprex that shows what the issue is and why it doesn't work as you'd expect?

[2020-05-18 03:50] nexusal opened #292 "Mapview function won't work in R 4.0.0"
After updating  R from 3.6.3 ( did pretty well in this version )  to 4.0.0 ,  cpu utilization almost reach to 100% when run this function, even with the franconia data still didn't work (return blank window)  , is this a common problem?

[2020-05-18 07:22] tim-salabim commented on #292
You're likely experiencing an RStudio issue, see https://github.com/rstudio/rstudio/issues/6737

Upgrading RStudio to the latest preview version should solve your issue

[2020-05-18 07:22] #292 closed

[2020-05-19 13:27] fabeit commented on #273
The issue is that the raster values displayed by mapview(raster) are not the actual values in the raster, since they are interpolated. You can try this with any raster in lat/long, I can provide one if you'd like. The usefulness of mapview is also to explore data interactively, but if the displayed data is not the actual data it becomes less useful. When I convert a raster to polygon, when display

[2020-05-19 13:35] tim-salabim commented on #273
Ok, so there's likely no quick fix here. Unfortunately leaflet does not support raster plotting on `L.CRS.Simple`. The only fix I could think of is to try and support `addimageQuery` for `plainview` (which is used when `native.crs = TRUE`).
This wouldn't change the fact that we won't have background maps, though. If you want background maps in any crs other than webmercator, you're pretty much on

[2020-05-19 18:12] fabeit commented on #273
this confirms my initial thought that there is no easy solution, for me the conversion to polygons seems a reasonable compromise. Thank you for this discussion.

[2020-05-20 06:34] tim-salabim commented on #273
If you are fine your current workaround I guess we can close here. I've opened an issue [here](https://github.com/r-spatial/leafem/issues/18) to keep the imageQuery for plainview objects open as I'd like to implement that at some stage.

Thanks

[2020-05-20 06:34] #273 closed

[2020-05-25 09:40] lbusett opened #293 "[suggestion] remove/update stale "master" github branch"
Hi  @tim-salabim ;

Not a big deal, but I noticed last week that the `master` github branch of `mapview` is somehow in a "stale" state (more than 2 years old)

Would you consider removing it (or mayb updating it to the last "stable" mapview release)?  I know I should use the @develop branch to install from github, but sometimes I forget to add the @develop specifier, and I accidently try to instal

[2020-05-25 09:43] edzer commented on #293
In case `master` is not used, I'd suggest to rename `develop` into master and remove `develop`.

[2020-05-25 10:00] tim-salabim commented on #293
Thanks for bringing this up! This is me being lazy... I think I should do as @edzer suggests and merge develop into master and remove develop. I once thought it would be nice to have a stable branch and a develop branch, but I now realise that CRAN releases pretty much substitute having a stable branch here. So instead of master/develop we have CRAN/github which I think is the model most people fo

[2020-05-25 13:52] ervanSTRI commented on #255
Hi Tim. Just noticed that you were [advertising ](https://twitter.com/TimSalabim3/status/1264474432787165186) the new flatgeobuf format and already wrote a addFGB() function. Do you know if there is yet a way to convert sf objects into .fgb ??
Thanks

[2020-05-25 13:54] tim-salabim commented on #255
If you have GDAAL 3.1.0 installed you can use `st_read` & `st_write` like for any other format.

[2020-05-26 10:06] ervanSTRI commented on #255
Thanks Tim. I know it's not the best place to ask, but I could not upgrade gdal to 3.1 (nor compile sf with gdal 3.1) on Windows 10. I have tried through conda, but it didn't work. I know you are on Linux, but do have any clue regarding Windows? Seems a bit too fresh to be available yet... Thanks a lot for your help.

[2020-05-26 10:07] ervanSTRI commented on #255
(by the way, shall we close this issue? Seems a bit outdated with all the recent development)

[2020-05-26 10:11] tim-salabim commented on #255
I did compile GDAL 3.1.0 on linux from source. Judging from this,
https://trac.osgeo.org/gdal/wiki/BuildingOnWindows
compiling from source seems a little more involved on windows, which doesn't surprise me... There's a reason I am on linux :-)

Feel free to close if you think this is no longer an issue...

[2020-05-26 11:17] ervanSTRI commented on #255
Thanks Tim! but it seems to be gdal1.4, not 3.1 :(
I agee that is a good reason to finally migrate on Linux...

[2020-05-26 17:54] BryanSouzaM opened #294 "Show popupTable + popupGraph"
I made a lot of search trying to figure out if is possible to show in mapview both atributtes table and a graph for a point data.

It is possible?

[2020-05-26 19:38] kaimath commented on #274
Hi @tdwils ,

I was frustrated with the same problem, but I found a working solution. I'm not sure how the specifics work, but I can tell you how to implement it. Hopefully this will help future users who encounter the same problem!

I spent a lot of time trying to diagnose the problem, and the problem is not with fractional zoom (as you have enabled it in your sample map code). You will be able t

[2020-05-27 07:18] tim-salabim commented on #294
Can you provide a reproducible example?

[2020-05-27 11:14] MartinBeal commented on #292
Downloading the latest preview version of Rstudio solved the high CPU usage issue, but now I am getting what I believe is this [https://github.com/rstudio/rstudio/issues/6893](https://github.com/rstudio/rstudio/issues/6893) issue, where the mapview() function runs, showing no error, but nothing appears in the viewer panel.

Is there a known solution to this issue?

[2020-05-27 12:58] BryanSouzaM commented on #294
Of course. A want to do something like this:

`library(mapview)
library(lattice)
library(sp)

zipcodes <- unique(breweries$zipcode)

pList <- lapply(zipcodes,
                function(i) {
                  xyplot(founded ~ number.of.types, data = breweries,
                         col = "blue",
                         subset = (zipcode == i),
                         type = 'p',

[2020-05-28 15:09] tim-salabim commented on #292
Ok, this is not a mapview issue, so there's little we can do btu wait for it to be fixed. In the meantime you can set `mapviewOptions(viewer.suppress = FALSE)` which should tell mapview to always open in the browser rather than the RStudio viewer pane.

[2020-05-28 22:06] tdwils commented on #274
Thank you very much for this idea. This seems like a good solution for now.

[2020-06-02 20:47] alliesaizan opened #295 "Cannot install mapview version 2.7.8"
Hi there,

I am trying to install mapview, but no matter which way I install it (via install.packages, from source, or using devtools), I keep getting an error from R. I am running R 4.0.0 on a Windows machine and my session info is below:

![image](https://user-images.githubusercontent.com/15962391/83568007-80e7c280-a4f0-11ea-8f5a-65335564b8b0.png)

The messages I am getting during install are be

[2020-06-03 05:28] tim-salabim commented on #295
You seem to have a problem with your internet connection. As shown in the message, the package has a size of 2.3 MB but you only downloaded a fraction of that 732 KB.

[2020-06-03 06:43] vmoprojs opened #296 "zcol + burst on Windows"
Hi, I am trying to run the following:
`mapview(breweries,zcol = 'number.of.types',burst = TRUE)`
And I get this error:
`Error in .subset(x, j) : invalid subscript type 'list'`
I tried the code on macOS and it works fine, but it does not on Windows. Any advice?

[2020-06-03 07:11] tim-salabim commented on #296
Can you please try to install mapview from github

[code]
I think it is fixed there

[2020-06-03 13:08] vmoprojs commented on #296
You're right, thanks!

[2020-06-03 13:08] #296 closed

[2020-06-05 11:27] ervanSTRI commented on #255
Hi Tim,
A quick question: do you know how to round "mouse-over" information (aka "Layer GRID.ID" in the image below)?

![image](https://user-images.githubusercontent.com/20225141/83871033-972f9180-a72f-11ea-887a-5155cd6116af.png)

Those IDs are integers, and shouldn't have decimals... I have tried round(), but it obviously doesnt' work.

`mapview::mapview(round(grid2),legend = F,maxpixels =8061452

[2020-06-05 18:01] tim-salabim commented on #255
Use parameter `query.digits` to control the rounding of the raster value query. Another option is to set `method = "ngb"` to use nearest neighbor interpolation in the reprojection of the grid.

[2020-06-09 21:54] aquatic-ecology opened #297 "Cannot save R Notebook after calling mapview()"
After calling mapview() from an R notebook in RStudio, the R notebook is unable to save, returning an error saying: **Error creating notebook: 'mode' for the clipboard must be 'r' or 'w'.**

I only get this error after calling mapview().

I have tested with R.4.0.0 and R3.6.2 and get the error with both.   I have been able to use mapview() with R notebooks in the past and find it very helpful.  Ha

[2020-06-10 00:15] elgabbas opened #298 "polar projection"
Hello,

I am planning to dynamically plot multiple `sf` objects using `mapview`  within a `shiny` app.
The data used in the current project is on the Southern Ocean, projected at South Pole Lambert Azimuthal Equal Area projection `ESPG:102020`.

I have trouble overlaying the layers using `mapview`. The layers are on the same projection and plotted nicely using `sf` package.

[code]
![1](https://us

[2020-06-10 06:54] #298 closed

[2020-06-10 06:57] tim-salabim commented on #298
Thanks, should be fixed now. You also need to re-install leafem from github.

Regarding antarctic basemaps, we had the discussion long ago to not support any of this directly as it is beyond the general scope of mapview. That said, you should be able to use a combination of leaflet + leaflet.extras + mapview

[2020-06-10 07:03] tim-salabim commented on #297
For now I can only say that I don't have the issue with R 3.6.1

[code]

[2020-06-11 00:37] elgabbas commented on #298
Is it possible to disable zooming out beyond a certain extent when using `native.crs = T`.
In unprojected maps, the maximum zoom out is set to `c(-180,180,-90,90)`, but when using a metric unit without obvious maximum extent user can zoom out indefinitely.
Can I determine the maximum extent based on `bbox` or numeric values?

Cheers,
Ahmed

[2020-06-11 04:45] elgabbas opened #299 "Adding home button removes map logo"
Hello,

I found a conflict of adding both logo and home button. Both work nicely when used alone, but when used together, adding the home button removes the logo. Does it make sense?

[code]

Cheers,
Ahmed

[2020-06-11 21:40] aquatic-ecology commented on #297
Thank you for checking and for your reply.  I have not been able to figure this out and have reverted to simply (or, rather, not-so-simply) using leaflet directly for my maps.  I don't even know where such a problem would enter (like is it something in mapview, rmarkdown, rstudio). Since no one else seems to be reporting problems, there's also the possibility that there is something specific to my

[2020-06-13 02:59] elgabbas commented on #267
Hello,
I have the same issue in the legend in a shiny app. After filtering the data, it seems that the colours in the legend do not properly match the data. The colours of the points seem to be alright, but the interactive legend has an issue.

This is a reprex code:
[code]
When filtering multiple colours not in the same order, points were plotted nicely but see the legend.
![000](https://user-ima

[2020-06-15 18:58] elgabbas opened #300 "Error in CPL_transform: crs not found: is it missing?"
Hello,
I receive this error message when deploying a shiny application to `shinyapps.io`. The application contains `mapview` interactive maps. The app works fine on my local computer but failed on `shinyapps.io` server.
[code]
I can not be sure of the source of this error. Is it something related to `mapview` or `sf` or an issue with the `shinyapps.io` server?
My code does not use `st_transform` f

[2020-06-15 19:01] edzer commented on #300
It looks like the shinyapp.io machine runs an old PROJ.4 version, and you're feeding it with an object created with sf using a newer GDAL/PROJ combo. Is that possible?

[2020-06-16 03:04] elgabbas commented on #300
Thanks @edzer for your response,

It uses `GEOS 3.5.1`, `GDAL 2.2.2`, `PROJ 4.9.2`.Do you think this is the reason for this error?

[2020-06-16 08:58] edzer commented on #300
It is not a problem in itself, but may be part of the problem. If you create an `sf` object in R/sf which uses PROJ 6 or 7, and then feed that object to an R instance running PROJ 4, that will not work.

[2020-06-16 15:03] elgabbas commented on #300
I reported this to rshinyapps and I am waiting for a response. Thanks Edzer.

[2020-06-16 15:03] #300 closed

[2020-06-16 15:11] edzer commented on #300
It is not their problem, it is yours.

[2020-06-16 15:38] elgabbas commented on #300
How can I know which version of `sf` is compatible with `PROJ 4.9.2`?
Downgrading to an older version of `sf` can cause other dependency issues, isn't it?

[2020-06-16 15:56] edzer commented on #300
See https://github.com/r-spatial/mapview/issues/300#issuecomment-644633070

[2020-06-17 02:18] AltfunsMA opened #301 "mapview mislabelling points"
I'm not quite sure how or why this is happening but when I plot two two-point multipoint geometries with `ggplot` it assigns each feature a single point. `mapview` tries to plot four points, which would be perfectly fine, except that then the pop-up labels get mixed up and, in my example below, I get Sydney field info for one of the Melbourne points and vice-versa.  [This file](https://github.com/

[2020-06-18 10:52] jengelaere opened #302 "Mapview a list of sf layers throws an error when called with zcol or legend"
Hello, I have updated {sf} and {mapview} and the exemple :
[code]
doesn't work anymore. Here is the error message :
[code]

`mapview(list(franconia, breweries))` or
[code]
are ok, but neither
[code]
nor
[code]
are. Is there a new way to define `zcol` and `legend` ?
[code]
Cheers, Juliette

[2020-06-24 11:29] tim-salabim commented on #298
Sorry for the late reply. Currently, this is hard-coded [here](https://github.com/r-spatial/mapview/blob/develop/R/leafletControls.R#L268-L280). Should not be too hard to enable passing of `leafletOptions` to control the map setup. I'll have a stab at this soon.

[2020-06-25 21:07] aquatic-ecology commented on #297
Brief update:  I also get the error if I simply add leafem::addMouseCoordinates() to an existing leaflet map.  Without the addMouseCoordinates() line, the leaflet map works just fine with RStudio and I can save the result as an html notebook.  With the addMouseCoordinates() line, I receive the same error when RStudio tries to save the notebook: Error creating notebook: 'mode' for the clipboard mus

[2020-06-27 10:15] #302 closed

[2020-06-27 10:15] tim-salabim commented on #302
Hi and sorry for the late reply. This should be solved with the above commit (among earlier commits not yet on CRAN). Please retry and let me know if it works now for you.

[2020-06-27 10:34] #301 closed

[2020-06-27 10:35] tim-salabim commented on #301
Thanks, the reason is that leaflet cannot handle `MULTIPOINT` features. In a recent update I must have moved the line that converts to `POINT` features so that it happens only after popup creation. Should be back in the correct place now and work again as expected.

[2020-06-27 10:42] tim-salabim commented on #299
`leafem::addHomeButton` needs a specification of the extent/bbox the button should refer to. If you don't provide it, the map creation finishes early on the javscript side and throws an error in the browser (but not in R). If you add an extent specification to your `addHomeButton` call, it works:

[code]
Whether that makes sense is up to you, as you already have a homebutton for all included layer

[2020-06-27 10:52] tim-salabim commented on #297
Could you please try:

[code]

[2020-06-27 10:56] #295 closed

[2020-06-27 11:07] tim-salabim commented on #282
Sorry for the long silence. I think this is a deliberate choice of mine (though the exact reasons escape me as it is long ago I made the decision). IIRC, I read somewhere that the human brain can perceptually not distinguish meaningfully between more than ~12 shades of a colour. That's why we map to a continuous legend when there are more than 12 (maybe 11) breaks. Also, not restricting this means

[2020-06-27 11:07] #275 closed

[2020-06-27 11:09] tim-salabim commented on #274
Closing here, as this is not directly related to mapview and seems to be acceptably resolved.

[2020-06-27 11:09] #274 closed

[2020-06-27 11:09] tim-salabim commented on #271
Seems resolved... ?

[2020-06-27 11:09] #271 closed

[2020-06-27 12:41] #267 closed

[2020-06-27 12:41] tim-salabim commented on #267
Thanks, should be solved now.

[2020-06-27 16:57] tim-salabim commented on #266
Hi & sorry for the late reply. What you are after is possible, but currently not documented anywhere.

[code]
should do what you want (though radii of 1&2 are really small). We internally map cex to radii between 3 and 15 with the exception of NA values whcih get mapped to 2. This is, however, likely to change soon, as we need a different approach when using flatgeobuf enoding to process things in

[2020-06-27 16:59] tim-salabim commented on #265
@astraetech in case you're still waiting for this to be resolved here, feel free to reopen, but I'd need a reprex...

[2020-06-27 16:59] #265 closed

[2020-06-27 17:03] tim-salabim commented on #262
Just checked, webshot2 is still not on CRAN. I'll close the issue here & integrate it once it hits CRAN

[2020-06-27 17:03] #262 closed

[2020-06-27 17:11] aquatic-ecology commented on #297
That worked without any errors:  the code ran and RStudio successfully saved the associated .nb.html file with the expected content.

Thanks!

[2020-06-27 17:29] tim-salabim commented on #270
This should work now. You can now pass `labFormat` via `...` to `leaflet::addLegend` (or any valid argument for that matter)

[2020-06-27 17:29] #270 closed

[2020-06-27 17:33] tim-salabim commented on #258
This should now be partially solved. At least we can now pass any valid argument to `leaflet::addLegend` via `...`
Means, we can now at least show more than 3 digits in the legend:

[code]

Honestly, I have no clue how to realise the scientific notation. If it's possible in leaflet, it should be possible here, but I couldn't find anything on how to specify it. Maybe using `format` somehow?

[2020-06-28 08:42] tim-salabim commented on #257
This should work now. Please feel free to reopen if the issue still persists

[2020-06-28 08:42] #257 closed

[2020-06-28 08:44] #255 closed

[2020-06-28 08:54] tim-salabim commented on #251
@kbvernon in the current description of the `layer.name` argument we have:

[code]
Is this clear enough?

[2020-06-28 09:18] #242 closed

[2020-06-28 09:43] tim-salabim commented on #237
Closing here, feel free to reopen here or elsewhere if you think stars is not yet properly handled

[2020-06-28 09:43] #237 closed

[2020-06-28 09:44] tim-salabim commented on #232
Closing here, feel free to reopen if you think this is not resolved

[2020-06-28 09:44] #232 closed

[2020-06-28 09:46] tim-salabim commented on #218
Closing here, please file an issue in **leafpop** for local video support.

[2020-06-28 09:46] #218 closed

[2020-06-28 11:04] #214 closed

[2020-06-28 11:06] tim-salabim commented on #214
So this can now be done by passing `att` to mapview.

[code]

![Screenshot from 2020-06-28 13-05-46](https://user-images.githubusercontent.com/2826432/85945749-23ecfa00-b940-11ea-9d42-3ccaea892afa.png)

[2020-06-28 12:17] #212 closed

[2020-06-28 12:17] tim-salabim commented on #210
This has been resolved in the latest dev version

[2020-06-28 12:17] #210 closed

[2020-06-28 12:18] tim-salabim commented on #209
I will revisit the articles once I get the build of mapview to not fail anymore

[2020-06-28 12:18] #209 closed

[2020-06-28 12:19] tim-salabim commented on #207
Should be fine now, at least for single layers

[2020-06-28 12:19] #207 closed

[2020-06-28 12:24] tim-salabim commented on #206
We now have all functions living somewhere else now marled as `.Defunct`. One thing I'm not sure about is whether that is the end of the road or if there is another cycle where we're supposed to completely delete these functions from the package...

Currently, we still get the following:

[code]
which is informative, but not really necessary.

@edzer @rsbivand do you have experience with the proce

[2020-06-28 12:26] tim-salabim commented on #197
This will be addressed in **leafem**, hence closing here

[2020-06-28 12:26] #197 closed

[2020-06-28 12:31] tim-salabim commented on #192
For this we'll need a dedicated `leafpop::addPopupWidgets` function. We already have `leafpop:::addPopupIframe` which might do the trick (not tested personally). If this is still of interest, please open an issue in **leafpop** as we've moved these functions there.

[2020-06-28 12:31] #192 closed

[2020-06-28 12:34] tim-salabim commented on #190
@JimShady sorry that nothing has happened regarding this issue. If you're still interested in a solution, could I please ask you to open an issue at [leafsync](https://github.com/r-spatial/leafsync/issues)?

Closing here, to clean up some clutter in this repo

[2020-06-28 12:34] #190 closed

[2020-06-28 12:36] tim-salabim commented on #189
@miriza76 this should now work much better by using `leafem::addImageQuery`. If you still encounter problems, please open ann issue in that repo

[2020-06-28 12:36] #189 closed

[2020-06-28 12:46] tim-salabim commented on #156
Will address this when I get build to pass

[2020-06-28 12:46] #156 closed

[2020-06-28 12:47] #152 closed

[2020-06-28 12:49] tim-salabim commented on #132
We now have argument `viewer.suppress` to specify whether to view in viewer (`FALSE`) or in browser (`TRUE`)

[2020-06-28 12:49] #132 closed

[2020-06-28 13:00] lbusett commented on #282
@tim-salabim

  having a discrete legend when the number of breaks is low and a continuos one when it is high seems fine to me.

My main concern here was that when specifying a high number of breaks (to get a continuous legend), the legend  is no longer correct: the raster is shown using the correct "colors" based on the breaks, while the legend shows the values we would get if breaks were not set

[2020-06-28 16:26] rsbivand commented on #206
I started splitting **spdep** into **spdep** with spatial weights and weight-based autocorrelation tests and **spatialreg** with model fitting functions. I had planned about 4 months of deprecation before flipping to the functions moved to **spatialreg** defunct in **spdep**, but got distracted by the Proj4 string meltdown. See https://github.com/r-spatial/spdep/issues/31 and  "r-lib/pkgapi" to fi

[2020-06-28 17:08] tim-salabim commented on #206
Thanks for those pointers @rsbivand ! My hope is to be able to completely delete the functions. Especially as mapview is likely to be used in interactive mode only anyway. But we'll see what pkgapi will tell me.

[2020-06-28 17:37] tim-salabim commented on #282
The above commit should at least partly solve this issue. Not sure if we should limit the breaks to the range of the data or simply go with what the user specifies. Thoughts?

[2020-06-28 19:49] edzer commented on #206
Deprecate them, and write the deprecation date/version in a comment in the function when you do so. When you later run into it and the package has seen a few new versions, then you throw it all out. Very satisfying.

[2020-06-28 20:41] lbusett commented on #282
@tim-salabim

 thanks, Iìll try to check it out tomorrow. In my opinion it would be better to go with what the user specifies (that's what's already happening with the discrete legend, apparently). That would allow for example that we want to use colors to reflect "absolute" values of a variable within a specified range rather than its "relative" variations within the extent. If I am not mistaken

[2020-06-28 22:33] DataStrategist commented on #156
need any help?

[2020-06-29 07:43] jengelaere commented on #302
Hi, thanks a lot, it works again now.

[2020-06-29 13:37] kbvernon commented on #251
Hi, @tim-salabim, thanks. That's a great update. Apologies for not offering a pull request myself. Still haven't quite figured it out... Do I close this issue now, or is that up to you?

[2020-06-29 13:40] tim-salabim commented on #251
I'm not sure if there is a rule for who's supposed to close issues. I guess it's mostly about mutual agreement. I usually close when I feel it is sufficiently solved with a note to "feel free to reopen" (as I'm doing now :-) ).

[2020-06-29 13:40] #251 closed

[2020-06-29 19:23] tim-salabim commented on #282
Ok, I think I now (sort of) understand what's going on... `pal = leaflet::colorNumeric(...)` in conjunction with `leaflet::addLegend(..., pal = ...)` seems to only evaluate the palette until the maximum of the `domain`, hence neglecting all values beyond its max value. Therefore, I opted to always use `leaflet::colorBin` when specifying breaks (at), i.e. remove the distinction between < or > than

[2020-07-01 23:10] elgabbas commented on #299
Thanks @tim-salabim

[2020-07-01 23:10] #299 closed

[2020-07-02 08:53] lbusett commented on #282
@tim-salabim

 Hi, I was finally testing this out, but i have a problem: After updating my "develop" fork , trying to do `devtools::load_all()` yields:

`Loading mapview
 Error in setMethod("plainView", signature(x = "RasterLayer"), function(x,  :
  no existing definition for function ‘plainView’ `

Am I doing something wrong?

Lorenzo

[2020-07-02 09:58] tim-salabim commented on #282
I never use `devtools::load_all()`, I just build the package (ctrl + shift + b in RStudio). Never seen this error before

[2020-07-02 11:23] lbusett commented on #282
Ok, I'll try again. It's just that i did not want to mess with my currently installed mapview version.

[2020-07-02 11:37] lbusett commented on #282
Ok, I managed to have it working (just by loading "plainview" beforehand.

Now the example with fixed breaks works ok (thanks). However, unfortunately now I a m seeing this if I do not specify the breaks:

[code]
![image](https://user-images.githubusercontent.com/4480397/86354260-ff0ec480-bc68-11ea-8927-81017b90e66c.png)

Below, my session info:

- Session info ------------------------------------

[2020-07-02 18:01] tim-salabim commented on #282
I see the same & I know where the issue lies. Just don't know how complicated it is to fix... Hopefully will get to it over the weekend

[2020-07-03 14:47] lbusett commented on #282
Ok. Sorry for always reporting problems... ;-)

[2020-07-03 15:44] tim-salabim commented on #282
Nah, it's perfect! Someone to keep me in check :-)